/* Foundation v2.1.1 http://foundation.zurb.com */
/* This is for all IE specfific style less than IE9. We hate IE. */

div.panel { border: 1px solid #ccc; }

dl.tabs
{
  overflow: hidden;
}

dl.tabs dd a
{
  float: left;
  padding-top: 0;
  padding-bottom: 0;
}

dl.tabs dd .active
{
  position: relative;
  padding-bottom: 1px;
  zoom: 1;
}

.container
{
  width: 980px;
  margin: 0 auto;
}

button.button
{
  padding: 8px 8px 7px;
  top: -2px;
  margin: 0;
  border-top: 1px solid #000;
}

input,
select,
textarea
{
  left: 0 !important;
  margin: 0 0 9px 0 !important;
}

.row .four
{
  width: 25% !important;
}

.columns
{
  margin: 0 5px 0 0;
  zoom: 1;
}

.radio,
.checkbox
{
  margin: 0 !important;
}

small.error,
select.error
{
  background: #FFF !important;
}

select.error
{
  color: #000;
}
