/* Foundation v2.1.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Buttons
:: Input multiple
:: Crear proyecto
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
#body
{
  color: #666;
}

#main
{
  border: 1px solid #DDD;
  border-top: none !important;
  padding: 20px;
}

#header
{
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 1em;
  position: relative;
}

#logo
{
  font-size: 1em;
  padding: 1em 0 0;
}

#bcp
{
  background: #020B68;
  position: relative;
  height: 58px;
}

#logo_top
{
  background: #020B68 url(../images/site/bcp-logo-69x19.png) no-repeat 97% 50%;
  position: absolute;
  top: 19px;
  right: 46px;
  display: block;
  width: 70px;
  height: 19px;
  text-indent: -9999em;
}

#userutil
{
  position: absolute;
  top: 10px;
  right: 10px;
}

.legend
{
  margin: 0 0 1em;
}

select.large
{
  width: 90%;
}

.image_content
{
  margin-bottom: 1em;
  text-align: center;
}

.image_content .alert-box
{
  position: relative;
}

.image_item
{
  display: block;
}

.image_
{
  display: block;
  margin: 0 auto;
  border: 2px solid #333;
}

.image_content .button
{
  position: absolute;
  bottom: 7px;
  left: 166px;
}

label.inline
{
  display: inline;
  padding: 0 0 1em;
}

/* -----------------------------------------
   Buttons
----------------------------------------- */
.buttons
{
  padding: 0 0 1em;
  text-align: right;
}

.buttons .close-reveal-modal
{
  position: static;
  font-size: 13px;
  color: #FFF;
  line-height: 1em;
}

.buttons-set
{
  border-top: 1px solid #d9d9d9;
  padding: 1em 0 0;
  margin: 1em 0 0;
}

.buttons-set .button
{
  margin: 0 5px 0 0;
}


/* -----------------------------------------
   Input multiple
----------------------------------------- */
.input-multiple-item
{
  padding: 0 0 10px;
}

.input-multiple-content
{
  margin: 0 0 2em;
}


.delete
{
  color: #C00000;
}

.delete:hover
{
  color: #900000;
}

input.error,
select.error,
textarea.error
{
  color: #333;
}

/* -----------------------------------------
  Crear proyecto 
----------------------------------------- */
#map_canvas
{
  width: 100%;
  height: 400px;
}

#googlemaps img, object, embed { max-width: none; }

#map_canvas embed { max-width: none; }
#map_canvas img { max-width: none; }
#map_canvas object { max-width: none; }
