@font-face{font-family:'FormataBoldItalic';src:url("/static/font/formabolita-webfont.eot");src:url("/static/font/formabolita-webfont.eot?#iefix") format('embedded-opentype'),url("/static/font/formabolita-webfont.woff") format('woff'),url("/static/font/formabolita-webfont.ttf") format('truetype'),url("/static/font/formabolita-webfont.svg#FormataBoldItalic") format('svg');font-weight:bold;font-style:italic}
@font-face{font-family:'Formata';src:url("/static/font/formaita-webfont.eot");src:url("/static/font/formaita-webfont.eot?#iefix") format('embedded-opentype'),url("/static/font/formaita-webfont.woff") format('woff'),url("/static/font/formaita-webfont.ttf") format('truetype'),url("/static/font/formaita-webfont.svg#FormataItalic") format('svg');font-weight:normal;font-style:italic}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
[hidden]{display:none}
html{font-size:62.5%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:1.2em;font-style:italic}
body,button,input,select,textarea{font-family:Arial,Helvetica,Helmet,Freesans,sans-serif;color:#58595b}
a{color:#020b68;text-decoration:none;outline:none}
a:visited{color:#020b68}
a:focus{outline:none}
a:hover,a:active{outline:none;text-decoration:none}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
pre,code,kbd,samp{font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:75%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
ul,ol{margin:1em 0;padding:0 0 0 40px}
dd{margin:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
label{cursor:pointer}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
h2{font-size:1.7em}
#bcp{background:#020b68;position:relative;height:58px;z-index:2}
#logo{background:#020b68 url("../images/site/bcp-logo-69x19.png") no-repeat 97% 50%;position:absolute;top:19px;right:46px;display:block;width:70px;height:19px;text-indent:-9999em}
#content{position:relative;padding:1px}
#wrapper{margin:0 auto;width:941px}
#header{background:#fff url("../images/site/header-bg.png") no-repeat top center;position:relative;padding:32px 0 0;height:85px;}
#header .title{margin:0 0 12px;letter-spacing:.04em}
#breadcrumbs .item,.breadcrumbs .item{background:transparent url("../images/site/style-list-bg-1.png") no-repeat 100% 56%;color:#6d6e71;padding:0 10px 0 0;margin:0 5px 0 0;font-style:italic}
#breadcrumbs .active,.breadcrumbs .active{color:#020b68;background-image:none}
#shortcuts{position:absolute;right:2px;top:43px;letter-spacing:.02em;}
#shortcuts .item{background:transparent url("../images/site/style-list-bg-2.png") no-repeat 0 60%;padding:0 0 0 15px;margin:0 0 0 19px;font-style:italic}
#menu{margin:0 0 9px}
#banner{margin:0 0 9px}
#main{background:#fff url("../images/site/main-bg.png") no-repeat top center;padding:13px 0 30px;overflow:hidden;zoom:1}
#primary{position:relative;float:left;width:607px;padding:0;}
#primary .back{position:absolute;top:40px;right:17px}
#primary.layout-2{padding:0}
#sidebar{float:right;width:300px;padding:0}
.onlyprint{display:none}
.linkhigh{border-bottom:1px solid #020b68;zoom:1}
.push-bottom{margin-bottom:1em}
.push-bottom-2{margin-bottom:2em}
.push-bottom-1-i{margin-bottom:1em !important}
.append-left{padding-left:1em}
.append-left-2{padding-left:2em}
.append-left-4-i{padding-left:4em !important}
.clearfix{zoom:1}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.c{font-family:'Formata'}
.cb{font-family:'FormataBoldItalic'}
table.center th,table.center td{text-align:center}
.table-1{margin:1em 0;}
.table-1 th,.table-1 td{border:1px solid #ccc;padding:4px 10px}
.title-simple{font-style:italic;font-weight:normal;color:#58595b;}
.title-simple .title{font-weight:bold}
.title{font-style:italic;color:#020b68;margin:0;zoom:1}
.titles{margin:0 0 1em;}
.titles .c{margin:0 0 .2em}
.sub-title{font-size:1.3em}
.section-title{background:#0d286d url("../images/site/section-title-1.png") no-repeat 0 0;padding:5px 20px;margin:0;color:#fff}
.section-title-simple{background:#0d286d;padding:5px 20px;margin:0;color:#fff}
.back{color:#333 !important;background:transparent url("../images/site/style-list-bg-4.png") no-repeat 0 50%;padding:0 0 0 10px;font-size:.9em}
.more-cont{text-align:right}
.more{background:transparent url("../images/site/style-list-bg-1.png") no-repeat 100% 50%;padding:0 10px 0 0;color:#e63f2c;font-size:.9em;font-weight:normal;cursor:pointer}
.list{padding:0;margin:0;}
.list li{background:transparent url("../images/site/style-list-bg-9.png") no-repeat 0 .5em;padding:0 0 0 15px;margin:0;list-style:none}
.list-2 .list-1 .list li{background:transparent url("../images/site/style-list-bg-9.png") no-repeat 0 .5em;padding:0 0 0 15px;margin:0;list-style:none}
.list-4 .list-1,.list-1{padding:0;margin:0 0 1em;}
.list-4 .list-1 li,.list-1 li{background:transparent url("../images/site/style-list-bg-7.png") no-repeat 0 .4em;padding:0 0 0 10px;margin:0 0 2px;list-style:none}
.list-2 .list-1 li{background:transparent url("../images/site/style-list-bg-7.png") no-repeat 0 .4em;padding:0 0 0 10px;margin:0 0 2px;list-style:none}
.list-2{padding:0;margin:1.5em 0;}
.list-2 li{background:transparent url("../images/site/style-list-bg-2.png") no-repeat 0 .3em;padding:0 0 0 15px;margin:0 0 2px;list-style:none}
.list-2-2 li{background:transparent url("../images/site/style-list-bg-2-2.png") no-repeat 0 .3em}
.list-3 li{margin:0 0 1.5em}
.list-2 .list-3 li{margin:0 0 1.5em}
.list-4{padding:0 0 0 4px;margin:0;}
.list-4 li{background:transparent url("../images/site/style-list-bg-1.png") no-repeat 0 .45em;padding:0 0 0 10px;margin:0 0 1.5em;list-style:none;zoom:1}
.list-4 .content{padding:4px 0 0;text-align:justify}
.list-4 .list-1{margin:0}
.dot-1{background:transparent url("../images/site/style-list-bg-7.png") no-repeat 0 .4em;padding:0 0 0 10px;position:relative;left:-10px}
.dot-2{background:transparent url("../images/site/style-list-bg-2.png") no-repeat 0 .3em;text-indent:20px}
.list-down{margin:0 0 5em;}
.list-down li.open{background:transparent url("../images/site/style-list-bg-8.png") no-repeat 0 .6em}
.list-down .title{cursor:pointer;font-size:1em}
.print{background:transparent url("../images/site/print.png") no-repeat 0 50%;padding:8px 0 5px 35px;font-size:.98em;color:#333 !important}
.alert-box{background:#efefef;padding:20px;margin:0 0 20px;font-size:1.4em;color:#7d7d7d}
.alert-box-error{padding:5px 10px;color:#f00;text-align:center}
.alert-box-success{padding:5px 10px;color:#859900;text-align:center}
#main{position:relative;z-index:1}
.shadow-0{background:transparent url("../images/site/shadow-0.png") no-repeat bottom center;padding-bottom:9px}
.shadow-1{background:transparent url("../images/site/shadow-1.jpg") no-repeat bottom center;padding-bottom:8px}
.shadow-2{background:transparent url("../images/site/shadow-2.jpg") no-repeat bottom center;padding-bottom:7px}
.shadow-3{background:transparent url("../images/site/shadow-3.jpg") no-repeat bottom center;padding-bottom:8px}
.shadow-4{background:transparent url("../images/site/shadow-4.jpg") no-repeat bottom center;padding-bottom:11px}
.shadow-5{background:transparent url("../images/site/shadow-5.jpg") no-repeat bottom center;padding-bottom:8px}
.shadow-6{background:transparent url("../images/site/shadow-6.jpg") no-repeat bottom center;padding-bottom:7px}
.shadow-css{display:block;position:relative;}
.shadow-css:before,.shadow-css:after{z-index:-1;position:absolute;content:"";bottom:14px;top:9px;left:2px;width:50%;max-width:90%;box-shadow:0 15px 6px #878688;transform:rotate(-3deg)}
.shadow-css:after{transform:rotate(3deg);right:2px;left:auto}
.square{display:block;padding-bottom:9px;width:165px;color:#fff}
.square-inner{background:#1999ce;display:block;position:relative}
.module{display:block;}
.module .module-inner{background:#e2e3e4;display:block;padding:16px 15px;zoom:1}
.module-mini{display:block;margin:0 0 5px;}
.module-mini .module-inner{position:relative;background:#e2e3e4;display:block;padding:7px 8px}
.module-mini .title{font-size:1.2em}
.module-mini .description{font-size:.9em;margin:.5em 0 0;color:#58595b}
.module-mini .icon{border:5px solid #fff;float:left}
.module-mini .detail{float:right;padding:5px 0 0;width:67.25%}
.module-mini .link{background:transparent url("../images/site/module-mini-bg-inner.jpg") no-repeat 96% 92%;position:absolute;top:0;left:0;z-index:3;display:block;width:100%;height:90px;text-indent:-9999em;cursor:pointer}
.module-mini-btn{font-size:1.2em;font-weight:bold;width:300px;color:#020b68;}
.module-mini-btn:visited{color:#020b68}
.module-mini-btn .module-inner{padding:10px 11px 8px;background:#e2e3e4 url("../images/site/module-mini-btn-bg.png") no-repeat 98% 50%}
.module-btn{font-size:1em;font-weight:bold;display:inline-block;}
.module-btn .module-inner{display:inline-block;padding:9px 11px 5px;background:#e2e3e4}
.module-btn .ltr{padding-right:30px;padding-left:20px;background:#e2e3e4 url("../images/site/style-list-bg-1.png") no-repeat 95% 50%}
.module-title{position:relative;display:inline-block;margin:0;}
.module-title .module-inner{background:#e2e3e4;padding:9px 11px 9px 10px;text-align:right;border-left:20px solid #f05326;margin:0;float:left}
.simple-inner{padding:0 0 0 17px}
.module-tip .module-inner{background:#f05223 url("../images/site/module-tip-bg.png") no-repeat 0 0}
.module-tip-top .module-inner{background-image:url("../images/site/module-tip-top-bg.png")}
.module-tip .title,.module-tip .description{color:#fff;margin:0}
.module-tip .description{font-size:1.2em;font-weight:normal}
.module-tip .detail{padding:25px 0 0}
.module-tip .column-last{padding:28px 0}
.module-tip .link{background:transparent url("../images/site/module-tip-bg-inner-1.jpg") no-repeat 96% 92%}
.module-tip .open-tip-open{background:transparent url("../images/site/module-tip-bg-inner.jpg") no-repeat 96% 92%}
.module-tip .module-inner-alter{background-image:url("../images/site/bg-tip-bg-inner.jpg");background-repeat:no-repeat;background-position:0 0;padding:10px 0 0;overflow:hidden;width:300px}
.module-tip .tip-item{background:transparent url("../images/site/tip-bg-close.png") no-repeat 96% 75%;font-size:1em;margin:0 0 5px;padding:0 30px 0;cursor:pointer;}
.module-tip .tip-item strong{display:block;padding:15px 0 10px;border-bottom:1px dotted #fff}
.module-tip .tip-item.last{margin:0;padding-bottom:10px;zoom:1;}
.module-tip .tip-item.last strong{border-bottom:none !important;zoom:1}
.module-tip h2.open{background:transparent url("../images/site/tip-bg-open.png") no-repeat 96% 75%;padding-bottom:0;zoom:1;}
.module-tip h2.open strong{border:none}
.module-tip .tip-description{font-size:1em;font-weight:normal;margin:0 30px 0;padding:0 0 20px;border-bottom:1px dotted #fff;display:none;}
.module-tip .tip-description.open{display:block;background:none}
.module-tip .tip-description.last{border:none}
.module-complement{width:490px;}
.module-complement .module-inner{padding:10px 20px}
.module-complement p{margin:0 !important;font-size:1.45em}
.module-complement strong{color:#515254 !important}
.module-complement a{color:#020b68 !important;font-weight:bold}
#menu,.menu-item{background:#ef4036 url("../images/site/menu-item-bg.png") repeat-x 0 0}
#menu{background-position:0 -82px;position:relative;z-index:2;zoom:1;}
#menu .tooltip{background:#ef5122;position:absolute;top:42px;left:0;color:#fff;padding:10px;font-size:.9em;z-index:2;display:none}
.menu-cont{display:block;float:left;margin:0 2px 0 0;position:relative;zoom:1;z-index:1}
.menu-item{display:block;padding:14px 5px 13px;color:#fff;font-style:italic;text-align:center;}
.menu-item:hover,.menu-item.active{background-position:0 -41px;background-color:#ffd25c}
.menu-item:active,.menu-item:link,.menu-item:visited{color:#fff}
.icon{background:#f05123 url("../images/site/icons.png") no-repeat 0 0;display:block;width:70px;height:70px;text-indent:-9999em}
.icon-calculator{background-position:0 0}
.icon-tracking{background-position:-70px 0}
.icon-demo{background-position:-140px 0}
.icon-contact{background-position:-210px 0}
.icon-tip{background-position:-280px 0}
.columns,.column-first,.column-last{float:left;display:block}
.columns-cont{display:block;overflow:hidden;zoom:1}
.two{width:49%}
.three{width:31.9%;margin:0 2% 0 0}
.four{width:25%}
.five{width:20%}
.column-last{margin:0}
.row{margin:0 0 10px;zoom:1;}
.row .center{padding-top:3px}
.row div.center{padding-top:13px}
.label{float:left;display:block;width:220px;text-align:right}
.inputs{float:right;display:block;width:335px}
.inputs-only{clear:both;float:none;padding-left:240px;text-align:left;margin:0 0 10px}
.error{display:block;clear:both;color:#f00;padding:5px 0}
input.error{padding:0;color:#58595b}
small.center{font-size:.8em;position:relative;top:5px}
.rows{margin:0 0 30px}
.button{background:#020b68;display:block;padding:8px;width:221px;color:#fff;border:none;font-family:'FormataBoldItalic';font-style:italic;font-weight:bold;font-size:1.2em}
.button-high{background:#ef4937}
.buttons{padding:10px 0 30px;}
.buttons .button,.buttons .module-btn{float:right}
.buttons .module-btn{margin:0 0 0 10px}
.input-frame{position:relative;padding:0;margin:0 10px 0 0;width:221px;background-size:100% 100%;}
.input-frame input,.input-frame textarea,.input-frame .input{background:#fff;border:none;margin:0;padding:5px 2px 3px;width:213px;outline:none;resize:none;zoom:1}
.frame-inner{overflow:hidden;background:#fff url("../images/site/input-frame.png") repeat-x 0 0;padding:1px 2px 0;zoom:1}
.drop-list{width:223px;background:#fff;border:1px solid #ccc;border-top:none}
.drop-btn{background:#818285 url("../images/site/style-list-bg-3.png") no-repeat center center;display:block;width:21px;height:23px}
.drop-option{display:block;padding:5px 5px;border-top:1px solid #e6e6e6;}
.drop-option input{position:absolute;left:-9999em}
.drop-option:hover{background:#020b68;color:#fff}
.drop-option.checked{background:#efefef;color:#020b68}
.dropdown{position:relative;width:223px;cursor:pointer;}
.dropdown .input{float:left;width:194px}
.dropdown .frame-inner{padding:1px 0 0 2px}
.dropdown .drop-btn{float:right}
.dropdown .drop-list{position:absolute;top:23px;left:0;z-index:30}
.dropdown-small{width:70px;}
.dropdown-small .input{width:41px}
.dropdown-small .drop-btn{width:21px;cursor:pointer}
.drop-list-small{width:70px}
.dropdown-mini{width:50px;}
.dropdown-mini .input{width:21px}
.dropdown-mini .drop-btn{width:21px;cursor:pointer}
.drop-list-mini{width:50px}
.radio,.check{background:transparent url("../images/site/radio-bg.png") no-repeat 100% 0;display:inline-block;margin:0 10px 0 0;height:14px;}
.radio input,.check input{position:absolute;left:-99999em}
.radio .inner,.check .inner{padding:0 13px 0 0}
.radio .text,.check .text{padding:0 20px 0 0}
.checked .radio-inner{background:transparent url("../images/site/radio-checked.png") no-repeat 100% 0;zoom:1}
.checked .check-inner{background:transparent url("../images/site/check-checked.png") no-repeat 100% 0;zoom:1}
.layout-check-input{zoom:1;}
.layout-check-input .radio,.layout-check-input .check{float:left;margin:4px 10px 0 0}
.layout-check-input .input-frame{float:left;width:180px;}
.layout-check-input .input-frame input,.layout-check-input .input-frame textarea,.layout-check-input .input-frame .input{width:172px}
.inputs-color-gray .frame-inner{background:#eff0f2}
.inputs-color-gray .input{background:#eff0f2;color:#020b68}
.inputs-color-gray .drop-btn{background-image:url("../images/site/style-list-bg-5.png");background-color:#eff0f2}
.inputs-color-simple .frame-inner{background:#fff;border:1px solid #6c6c6c}
.inputs-color-simple .input{background:#fff;color:#333}
.inputs-color-simple .drop-btn{background-image:url("../images/site/style-list-bg-6.png");background-color:#fff}
.input-text{display:block;width:211px;height:23px;border:1px solid #9a9a9a;margin:0 0 4px;outline:none}
.paginate{padding:20px 0;height:15px;color:#333;position:relative;z-index:3;}
.paginate .prev,.paginate .next{color:#fff;font-weight:bold;background:#b9b9b9;padding:5px 8px;margin:0 1px}
.paginate span.prev,.paginate span.next{background:#e4e4e4}
.paginate strong{padding:5px 8px;margin:0 5px 0 0;border:1px solid #999}
.paginate-options{position:absolute;top:14px;right:0;width:109px;font-size:.9em;}
.paginate-options .input{text-align:center}
.paginate-options span{display:block;float:left;padding:7px 0 0}
.paginate-options .dropdown{float:right}
.paginate-bottom{border-top:1px solid #e7e7e7}
.meta{margin:0;font-size:.95em;color:#7d7d7d}
.item{margin:0 0 11px}
.item-pic{display:block;float:left;width:165px;height:132px}
.item-detail{display:block;float:right;width:374px;padding:19px 18px 0 0;}
.item-detail .title{font-size:1.2em;font-weight:normal;margin:0}
.item-detail .view{margin:3px 0 0;font-size:.95em;color:#e64814}
.item-title{position:relative;background:#e2e3e5;padding:10px 10px 4px;margin:0;font-size:1.4em;font-weight:bold;zoom:1;}
.item-title .price{position:absolute;top:13px;right:13px;width:140px;text-align:right}
.item .item-title,.item-expanded .item-title{padding-right:150px}
.item-rooms{border-top:1px solid #e0e2e1;padding:5px 0 0;margin:5px 0 0;zoom:1;}
.item-rooms .bedroom{background:#fff url("../images/site/item-rooms-3.png") 100% 0 no-repeat;padding:0 23px 0 0;margin:0 12px 0 0;zoom:1}
.item-rooms .bathrooms{background:#fff url("../images/site/item-rooms-2.png") 100% 0 no-repeat;padding:0 23px 0 0;margin:0 12px 0 0;zoom:1}
.item-rooms .garage{background:#fff url("../images/site/item-rooms-1.png") 100% 0 no-repeat;padding:0 23px 0 0;margin:0 12px 0 0;zoom:1}
.item-expanded{border-bottom:1px solid #e6e6e6;padding-bottom:15px;margin-bottom:20px;}
.item-expanded .item-title{padding:13px 17px 10px;font-size:1.4em;font-weight:bold;text-shadow:none}
.item-expanded .title{font-weight:bold;margin:0 0 2px}
.item-expanded .item-pic{width:277px;overflow:hidden;height:auto}
.item-expanded .item-main{float:right;padding:20px 23px 0 0;width:250px}
.item-expanded .item-rooms{float:left;width:170px;border:none;padding:10px 0 0;zoom:1}
.item-expanded .item-pic-label{background:#ff4d01;display:block;float:right;text-align:center;height:38px;width:101px;color:#fff !important;font-weight:bold;font-size:1.2em;line-height:38px}
.item-expanded .item-pic-footer{padding:4px 0 0;height:38px}
.item-expanded .group{border-bottom:1px solid #e0e2e1;padding:0 0 12px;margin:0 0 15px}
.item-expanded .price{color:#000}
.item-expanded .builder{font-size:1.2em;font-weight:bold;margin:0;color:#7b7b7d}
.item-expanded .item-secundary{clear:both;padding:30px 0 30px 39px;float:none;}
.item-expanded .item-secundary .list-1 .meta{margin:0 0 2px}
.expanded-title{margin:0 0 .5em}
.reveal-modal-bg{position:absolute;position:fixed;height:100%;width:100%;background:#000;z-index:100;display:none;top:0;left:0}
.reveal-modal-simple{position:absolute;top:100px;left:50%;margin-left:-270px;width:540px;z-index:101;display:none;color:#fff;}
.reveal-modal-simple .close-reveal-modal{background:transparent url("../images/site/reveal-close-simple-white.png") no-repeat 0 0;position:absolute;top:10px;right:10px;display:block;width:12px;height:12px;text-indent:-9999em;cursor:pointer}
.reveal-modal-simple .content{box-shadow:2px 2px 30px #000}
.reveal-modal{background:#f05223;position:absolute;top:100px;left:50%;margin-left:-270px;width:540px;z-index:101;display:none;color:#58595b;}
.reveal-modal .table-1{margin:0}
.reveal-modal .inner{background:#fff;padding:24px 20px;border-left:48px solid #f05223}
.reveal-modal .tag{position:absolute;top:0;left:0;padding:17px 0 0;width:48px;text-align:center;font-size:3em;color:#fff;font-weight:bold}
.reveal-modal .section-title,.reveal-modal .section-title-simple,.reveal-modal h2.title,.reveal-modal .tag{font-family:'FormataBoldItalic'}
.reveal-modal p{margin:0 0 1em}
.reveal-modal strong{color:#020b68}
.reveal-medium{width:710px;margin-left:-355px;}
.reveal-medium .inner{padding:30px}
.reveal-medium-2{width:751px;margin-left:-375px;}
.reveal-medium-2 .inner{padding:30px}
.reveal-modal .close-reveal-modal{background:transparent url("../images/site/reveal-close.png") no-repeat 0 0;display:block;width:12px;height:12px;position:absolute;top:8px;right:11px;cursor:pointer;text-indent:-9999em}
.reveal-style-1{background:#ededed;padding:20px;width:737px;margin-left:-368px;}
.reveal-style-1 .section-title{float:left}
.reveal-style-1 .inner{clear:left;padding:0;border:1px solid #ccc}
.reveal-style-1 .detail{padding:10px}
.reveal-style-1 .quote{font-size:1em;}
.reveal-style-1 .quote p{margin:0}
.reveal-style-1 .footer{text-align:right;padding:17px 0 0;margin:0;position:relative;zoom:1}
.reveal-style-1 .button{display:inline;float:none;font-size:1em;text-align:center;position:relative;width:108px;margin:0 0 0 10px;padding-left:4px;padding-right:4px;cursor:pointer;zoom:1}
.reveal-style-1 .reverse{position:absolute;top:12px;left:0;margin:0;width:320px}
.reveal-style-1 table{width:100%}
.reveal-style-1 th{background:#656392;padding:16px 0;width:165px;border:1px solid #b0b1d0;border-width:0 1px 1px 0;color:#fff;font-size:1.2em;font-weight:normal}
.reveal-style-1 td{border:1px solid #c8c8c8;border-width:1px 0 1px 1px;padding:16px}
.reveal-style-1 strong{color:#797977}
.Explorer_6 .reveal-style-1 .button{width:auto;color:#fff}
.reveal-theme-1 .section-title,.reveal-theme-1 .section-title-simple{background-color:#1999ce}
.reveal-theme-1 th{background:#5eb8dd;border-color:#86cae6}
.reveal-theme-2 .section-title,.reveal-theme-2 .section-title-simple{background-color:#f05223}
.reveal-theme-2 th{background:#f58665;border-color:#fac3b2}
.reveal-theme-3 .section-title,.reveal-theme-3 .section-title-simple{background-color:#fcb215}
.reveal-theme-3 th{background:#fdc95c;border-color:#fee4ae}
.reveal-theme-4 .section-title,.reveal-theme-4 .section-title-simple{background-color:#93c949}
.reveal-theme-4 th{background:#b4d980;border-color:#daecc0}
.reveal-theme-5 .section-title,.reveal-theme-5 .section-title-simple{background-color:#ed145b}
.reveal-theme-5 th{background:#f25b8d;border-color:#f9adc6}
.reveal-size-1,.reveal-size-2{padding:10px 20px 20px;width:520px;margin-left:-260px;}
.reveal-size-1 th,.reveal-size-2 th,.reveal-size-1 td,.reveal-size-2 td{font-size:.9em;padding:8px 10px}
.reveal-size-1 .detail,.reveal-size-2 .detail{font-size:.9em}
.reveal-size-1 .title,.reveal-size-2 .title{font-size:1.5em;margin:0 0 .3em}
.reveal-size-2{width:350px;margin-left:-175px}
.reveal-modal-elegant{color:#58595b;}
.reveal-modal-elegant .inner{background:#ebebeb;padding:24px 20px;border:none}
#primary .questions-back{top:0;right:0;color:#333;z-index:2}
.questions{min-height:400px;}
.questions .toolbar{position:relative;padding:0 0 7px;height:30px}
.questions #pdf{position:absolute;top:0;right:0}
.questions .breadcrumbs{width:480px;}
.questions .breadcrumbs .item{color:#595959;cursor:pointer}
.questions .breadcrumbs .current{color:#f05424}
.questions .breadcrumbs .final{background:none}
.question .list-2{padding-left:70px;margin:10px 0 20px}
.question .append-left{padding-left:1em}
.question .nopush{padding-left:0}
.radio-extend{background:#ececec;cursor:pointer;vertical-align:top;}
.radio-extend .inner{border:1px solid #fff;border-top:none;border-bottom:none;text-align:center;padding:22px 5px;height:148px}
.radio-extend .detail{font-size:.9em;padding:11px 0 0}
.radio-extend .titles{display:block;display:table;text-align:center;margin:0 auto}
.radio-extend .title{margin:0;display:block;display:table-cell;vertical-align:middle;font-size:1.17em}
.radio-extend .high{font-size:1.5em}
.radio-extend .mark{margin-top:8px}
.radio-extend-line{text-align:center;}
.radio-extend-line .inner{border:none;height:auto}
.radio-extend-line .radio-extend{border:1px solid #fff}
.radio-extend-line .empty{background:#fff}
.radio-extend-line .title{zoom:1;margin:0 0 10px;font-family:'FormataBoldItalic'}
.mark{background:transparent url("../images/site/radio-bg-2.png") no-repeat 0 0;display:block;width:23px;height:25px;margin:0 auto}
.radio-extend-line .checked{background:#029acc;}
.radio-extend-line .checked .mark{background-position:-23px 0}
.radio-extend-line .checked .detail,.radio-extend-line .checked .title{color:#fff}
.mark-image{margin:0 0 1em}
.Explorer_6 .mark-image{position:relative;zoom:1}
.fx-button-push{position:relative;top:1px}
.no-shadow{background:none}
.show-next-content .sub-title{background:transparent url("../images/site/style-list-bg-1.png") no-repeat 165px 5px;cursor:pointer}
.show-next-content .show-target{display:none}
.show-next-content .show-next-open{display:block;}
.show-next-content .show-next-open .sub-title{background-image:url("../images/site/style-list-bg-8.png")}
.accordion-title{background:#e2e3e4 url("../images/site/accordion-bg-1.png") no-repeat 5px -34px;color:#020b68;font-weight:bold;padding:7px 5px 7px 32px;margin:0 0 2px;cursor:pointer}
.accordion-title-open{background-color:#020b68;color:#fff;background-position:4px 10px}
.accordion-content{display:none;padding:15px 0 15px 33px;text-align:justify;}
.accordion-content .list-2{zoom:1}
.Explorer_6 .accordion-title{background-position:5px -32px}
.Explorer_6 .accordion-title-open{background-position:4px 12px}
.Firefox .menu-item{padding-bottom:11px}
.Explorer_7 .paginate-options{top:20px}
.Explorer_7 .radio-extend .titles{display:block}
.Explorer_7 .radio-extend .title{display:block;font-size:1.2em}
.table{color:#58595b;width:540px;border:1px #ccc solid;}
.table .middle{border:1px #8a89ab solid;border-top:none;border-bottom:none}
.table .first,.table .last{width:74px}
.table .table-title{background-color:#020b68;padding:5px 11px;color:#fff;font-weight:normal}
.table .table-subtitle{background-color:#64638f;padding:5px 11px;color:#fff;font-weight:normal}
.table .table-text{padding:5px 11px;border:1px #ccc solid;font-size:.9em}
.table .table-footer{padding:10px 11px;border:1px #ccc solid}
.loading{background-image:url("../images/site/ajax-loader.gif");background-repeat:no-repeat;background-position:center left;padding-left:30px;padding-top:10px;padding-bottom:10px}
.single .pair{display:none}
.single .single{display:block}
.pair .single{display:none}
.pair .pair{display:block}
#cm1{width:229px}
#cm2,#cm3{width:238px}
#cm4{width:230px;margin:0}
#home #bg-front{background:transparent url("../images/site/bcp-home-background-front.png") no-repeat 0 0;position:absolute;bottom:0;left:0;display:block;width:482px;height:598px;z-index:1}
#home #bg{min-width:100%;height:auto}
#home #section_title{background:transparent url("../images/site/section-title-home-bg.png") no-repeat 0 0;position:absolute;top:111px;right:0;padding:0;margin:0;width:383px;height:50px;line-height:50px;text-align:center;color:#fff;font-style:italic;font-size:2em;font-family:'FormataBoldItalic'}
#home #main{position:absolute;right:0;top:243px;background:none;padding:0;width:534px;color:#58595b}
#home #main_title{font-style:italic;font-family:'FormataBoldItalic';font-size:2.5em;margin:0 0 .39em}
#home #main_description{width:495px;margin:0 0 1.85em;font-size:1.15em;line-height:1.14;font-style:italic}
#home .square{position:relative;float:left;margin:0 48px 0 0;width:217px;height:85px;text-align:left;font-family:'Formata';letter-spacing:-.03em;overflow:hidden;background-position:0 100%;font-weight:bold;zoom:1;}
#home .square a:active{position:relative;top:3px}
#home .square .inner{position:relative;width:217px;height:85px;overflow:hidden}
#home .square-inner,#home .square-detail{background:#1999ce;display:block;position:absolute;top:0;left:0;padding:18px 0 0 9px;width:217px;height:67px;font-size:1.7em;line-height:1.16em;font-style:italic;color:#fff}
#home .square-detail{top:85px;padding-top:6px;padding-left:42px;height:79px;background:#fff;color:#1999ce;font-size:1.2em}
#home #opt2 .square-detail{padding-left:37px;padding-top:16px;height:69px}
.Chrome .square,.Safari .square{font-weight:normal !important}
.Explorer_6 #home .shadow-0{padding-bottom:8px}
#pd{position:absolute;top:590px;right:42px;font-size:.85em;line-height:1.11em;letter-spacing:-.05em;text-align:justify;color:#58595b;width:505px}
#filter{width:576px;padding:0 0 12px;border-bottom:1px solid #e4e4e4;position:relative;z-index:5;}
#filter .filters-inner{background:#e64814;padding:5px 8px}
#filter .button{width:91px;padding:5px 8px}
#filter .filter{float:left;margin:0 20px 0 0}
#filter .last-filter{margin:0}
#filter .dropdown .input{width:auto;padding-left:9px;font-size:.9em}
#filter .drop-list{top:22px}
#filter .input-only{padding:5px 5px 4px;font-size:.9em;}
#filter .input-only label{margin:0 5px 0 0}
#filter .input-only input{border:none;margin:0 3px 0 0;width:61px;border-width:1px 0 0 1px;border-style:solid;border-color:#aeaeae;outline:none}
#filter #departments .input{width:50px;height:10px;overflow:hidden}
#filter #types .input{width:95px;height:10px;overflow:hidden}
#filter #types .drop-list{width:128px}
#filter #specs .input{width:58px;height:10px;overflow:hidden}
#filter #specs .drop-list{width:91px}
#contact_form{background:#f4f4f4;padding:25px 38px 40px;}
#contact_form .title{margin:0 0 1.5em}
#contact_form .meta{margin:0 0 2px}
#contact_form .first{float:left;padding-top:12px;width:250px;border-right:1px solid #dbdbdb}
#contact_form .last{float:right;padding-top:12px;width:208px}
#contact_form .button{background:#b9b9b9;margin:0 37px 0 0;width:105px;font-size:.95em;font-weight:normal !important;font-family:Arial}
#gallery_content{margin:10px 0 20px;}
#gallery_content .pic{display:block;margin:0 0 9px}
#gallery_inner{float:left;width:490px;height:391px;overflow:hidden}
#gallery_nav{float:right;width:120px}
#gallery_nav_slide_cont{position:relative;height:358px;overflow:hidden;zoom:1}
#gallery_nav_slide{position:absolute;top:0;left:0;height:100%}
#gallery_nav_up,#gallery_nav_down{display:block;width:108px;height:14px;text-indent:-9999em;cursor:pointer}
#gallery_nav_up{background:#fff url("../images/site/slider-up.png") no-repeat center 0}
#gallery_nav_down{background:#fff url("../images/site/slider-down.png") no-repeat center 100%}
#steps_success{position:relative;z-index:1;zoom:1}
#step_by{position:absolute;top:223px;left:38px;width:732px}
.step{background:transparent url("../images/banner/9-pasos-para-lograrlo-2.jpg") no-repeat -9999em;display:block;float:left;margin:0 7px 0 0;width:74px;height:109px;text-indent:-9999em;cursor:pointer}
#step-1.hover{background-position:-38px 0}
#step-1.active{background-position:-38px -109px}
#step-2.hover{background-position:-119px 0}
#step-2.active{background-position:-119px -109px}
#step-3.hover{background-position:-200px 0}
#step-3.active{background-position:-200px -109px}
#step-4.hover{background-position:-281px 0}
#step-4.active{background-position:-281px -109px}
#step-5{margin:0 3px 0 0;}
#step-5.hover{background-position:-362px 0}
#step-5.active{background-position:-362px -109px}
#step-6{margin:0 6px 0 0;}
#step-6.hover{background-position:-439px 0}
#step-6.active{background-position:-439px -109px}
#step-7{margin:0 4px 0 0;}
#step-7.hover{background-position:-519px 0}
#step-7.active{background-position:-519px -109px}
#step-8{margin:0 8px 0 0;}
#step-8.hover{background-position:-597px 0}
#step-8.active{background-position:-597px -109px}
#step-9{margin:0;}
#step-9.hover{background-position:-679px 0}
#step-9.active{background-position:-679px -109px}
#step-10{position:absolute;top:223px;right:61px;float:none;width:103px;height:109px;}
#step-10.hover{background-position:-770px 0}
.step-info{background:transparent url("../images/site/transparent-bg-1.png") repeat 0 0;position:absolute;z-index:2;zoom:1;}
.step-info .tag{background:#e54815;display:block;padding:7px;color:#fff;font-weight:bold;position:absolute;top:-15px;left:-10px;font-size:1.2em;font-family:'FormataBoldItalic'}
.step-info .detail{background:transparent url("../images/site/transparent-icon-1.png") no-repeat left bottom;color:#040971;padding:20px 20px 19px;position:relative;bottom:-7px}
.step-info .title{margin:0;font-size:1em;font-family:'FormataBoldItalic'}
.step-info p{margin:0 0 1em;font-size:.9em}
.step-info .lh-1{margin:0 0 .5em}
.step-info .more{position:absolute;bottom:5px;right:10px;font-weight:normal;color:#e63f2c}
.step-info strong,.step-info a{font-weight:bold;color:#040971;}
.step-info strong:visited,.step-info a:visited{color:#040971}
#step_info_0{width:415px;left:268px;bottom:194px;}
#step_info_0 .title{font-size:1.25em}
#step_info_0 .detail{background:none}
#step_info_0_1{left:50%;margin-left:-267px;width:535px;bottom:10px;}
#step_info_0_1 .title{font-size:1.25em}
#step_info_0_1 .detail{background:none;bottom:0;padding:12px 10px 10px}
#step_info_1{width:498px;left:97px;bottom:151px}
#step_info_2{width:499px;left:176px;bottom:151px}
#step_info_3{width:499px;left:255px;bottom:151px}
#step_info_4{width:499px;left:330px;bottom:151px;}
#step_info_4 .detail{background-position:10px 100%}
#step_info_5{width:499px;left:317px;bottom:151px;}
#step_info_5 .detail{background-position:100px 100%}
#step_info_6{width:499px;left:296px;bottom:151px;}
#step_info_6 .detail{background-position:200px 100%}
#step_info_7{width:499px;left:273px;bottom:151px;}
#step_info_7 .detail{background-position:300px 100%}
#step_info_8{width:499px;left:252px;bottom:151px;}
#step_info_8 .detail{background-position:400px 100%}
#step_info_9{width:499px;left:243px;bottom:151px;}
#step_info_9 .detail{background-position:100% 100%}
#step_info_10{width:266px;left:586px;bottom:151px;}
#step_info_10 .detail{padding-bottom:10px;font-size:1.2em;background-position:100% 100%}
#dictionary{padding:0 0 20px;border-bottom:1px solid #ccc;}
#dictionary a,#dictionary a:hover,#dictionary a:link,#dictionary a:visited{color:#6d6e71;cursor:pointer}
#dictionary h3{font-size:1.2em;color:#f05123;margin:0;font-family:'FormataBoldItalic'}
#dictionary .sub-title{font-family:'FormataBoldItalic'}
#dictionary .list-2{margin:0 0 20px;padding:0 35px 0 0}
#creditos_a_tu_medida #q2-1 .check-2 .title,#quenecesitas #q2-1 .check-2 .title{padding:9px 0}
#creditos_a_tu_medida #q2-2 .check-2 .title,#quenecesitas #q2-2 .check-2 .title{padding:9px 0}
#creditos_a_tu_medida #q2-3 .check-1 .title,#quenecesitas #q2-3 .check-1 .title,#creditos_a_tu_medida #q2-3 .check-3 .title,#quenecesitas #q2-3 .check-3 .title{padding:9px 0}
#creditos_a_tu_medida #q3 .inner,#quenecesitas #q3 .inner{padding-bottom:0}
#creditos_a_tu_medida #q4 .radio-extend,#quenecesitas #q4 .radio-extend{width:147px}
#creditos_a_tu_medida #q5 .check-2 .title,#quenecesitas #q5 .check-2 .title{padding:9px 0}
#creditos_a_tu_medida #qfinal .radio-extend,#quenecesitas #qfinal .radio-extend{width:144px}
#creditos_a_tu_medida #qfinal .dot-2,#quenecesitas #qfinal .dot-2{padding-left:15px;text-indent:0;zoom:1}
#creditos_a_tu_medida #qfinal .module-btn,#quenecesitas #qfinal .module-btn{cursor:pointer;}
#creditos_a_tu_medida #qfinal .module-btn .module-inner,#quenecesitas #qfinal .module-btn .module-inner{cursor:pointer}
#sendmail{width:660px;margin-left:-330px;}
#sendmail .inner{background:#e2e3e4}
#sendmail .error,#sendmail .text{padding-top:10px;padding-bottom:10px}
#social{padding:20px 0 0 5px;overflow:hidden;width:941px}
#tweet{background:transparent url("../images/site/tweet.png") no-repeat 0 0;display:block;width:17px;height:18px;margin:1px 10px 0 0;text-indent:-9999em;float:left}
#facebook{float:left}
