#wrapper .single .single{display:block}
#wrapper .single .single-inline{display:inline}
#wrapper .single .pair,#wrapper .single .pair-inline{display:none}
#wrapper .pair .single,#wrapper .pair .single-inline{display:none}
#wrapper .pair .pair{display:block}
#wrapper .pair .pair-inline{display:inline}
.high{font-size:1.3em}
.block{display:block;position:relative;zoom:1}
body{background:#aeafb3}
#header{background:#aeafb3 url("../images/site/calculator_header_bg.jpg") no-repeat top center;height:100px;padding:0;color:#fff;}
#header .title{color:#fff;margin:0;padding:37px 0 0}
#content{width:941px;padding:20px 0}
#audio,#audio_stop,#audio_pausa,#audio_play{background:transparent url("../images/banner/calculator-flash-bg.png") no-repeat 0 0}
#audio{position:relative;display:block;width:732px;height:25px;margin:0 auto}
.audio_btn{display:block;width:17px;height:17px;text-indent:-9999em;position:absolute;top:3px;left:0;overflow:hidden}
#audio_play{left:43px;background-position:-732px -3px;}
#audio_play.pausa{background-position:-43px -3px}
#audio_stop{left:13px;width:19px;background-position:-13px -3px;}
#audio_stop.mute{background-position:-756px -3px}
#audio_player{position:absolute;top:-99999em;left:-99999em}
#legal{position:absolute;bottom:28px;left:103px}
#steps{width:735px;margin:0 auto}
#buttons{width:732px;margin:0 auto;padding-top:15px}
.button{display:block;width:112px;margin-left:3px;text-align:center;padding:5px 0;cursor:pointer}
#aviso{background:transparent url("../images/site/calculator-photo.png") no-repeat 0 0;display:block;position:absolute;top:60px;right:-50px;width:132px;height:130px;text-indent:-9999em;z-index:-1}
.input-frame{background:#747679;padding:1px 2px}
.frame-inner{background:#fff;padding:0 0 0 35px;}
.frame-inner input{width:182px;text-align:right}
.dolares .soles .frame-inner,.soles .frame-inner{background:#fff url("../images/site/calculator-icon-soles.jpg") no-repeat 4px 8px}
.soles .dolares .frame-inner,.dolares .frame-inner{background:#fff url("../images/site/calculator-icon-dolares.jpg") no-repeat 4px 8px}
.money-prefix{padding:0 0 0 30px}
.soles .money-prefix{background:transparent url("../images/site/icon_soles.png") no-repeat 0 4px}
.dolares .money-prefix{background:transparent url("../images/site/icon_dolar.png") no-repeat 0 4px;padding:0 0 0 40px}
.radio,.check{background:transparent url("../images/site/radio-bg-3.png") no-repeat 0 0;height:20px;}
.radio .radio-inner,.check .radio-inner{padding:0 0 0 25px;background-position:1px 1px}
.checked .radio-inner{background-image:url("../images/site/check-checked.png")}
.inactive{background:#333;cursor:default}
.charts{overflow:hidden;z-index:1;}
.charts .mask,.charts .mask-bg{position:absolute;top:0;left:0;z-index:2000}
.charts .mask-bg{z-index:-1;background:#ffede6}
.charts .labels-content{position:absolute;top:0;right:0;z-index:3000;width:156px;height:auto}
.chart{background-color:transparent;background-image:url("../images/site/calculator_chart_bg.png");background-repeat:repeat-x;background-position:0 0;width:100%;height:0;overflow:hidden;z-index:1}
.chart-label{font-size:.9em;z-index:2001;overflow:hidden;zoom:1;}
.chart-label .icon-label{display:block;width:10px;height:10px;float:left;margin:2px 5px 0 0;overflow:hidden}
.charts-2 .chart{position:absolute;bottom:0;left:0}
.color-100{background-color:#fd5003}
.color-85{background-color:#ff6825}
.color-70{background-color:#ff834d}
.color-55{background-color:#ff9e73}
.color-40{background-color:#ffb898}
.color-25{background-color:#ffd3c0}
.color-10{background-color:#ffede6}
.chart-0,.label-item-0 .icon-label{background-color:#ffdccd}
.chart-1,.label-item-1 .icon-label{background-color:#fecab3}
.chart-2,.label-item-2 .icon-label{background-color:#feb99a}
.chart-3,.label-item-3 .icon-label{background-color:#fea781}
.chart-4,.label-item-4 .icon-label{background-color:#fe9668}
.chart-5,.label-item-5 .icon-label{background-color:#fe844e}
.chart-6,.label-item-6 .icon-label{background-color:#fd7335}
.chart-7,.label-item-7 .icon-label{background-color:#fd611c}
.chart-8,.label-item-8 .icon-label{background-color:#fd5003}
.chart-9,.label-item-9 .icon-label{background-color:#f5b67d}
#chart1,#chart3{position:absolute;top:128px;left:25px;width:363px;height:236px;}
#chart1 .charts-content,#chart3 .charts-content{position:absolute;bottom:10px;width:200px;height:222px}
#chart1 .mask-bg,#chart3 .mask-bg{width:200px;height:236px}
#chart2{position:absolute;top:128px;left:10px;width:375px;height:220px;}
#chart2 .labels-content{width:190px}
#chart2 .charts-content{position:absolute;bottom:12px;width:216px;height:202px}
#chart2 .mask-bg{width:216px;height:220px}
#chart2 .chart-0{background-color:#ff6415}
#chart2 .mask-bg{background-color:#ffede6}
.dolares .soles .graph-chart-1,.graph-chart-1{background:transparent url("../images/banner/calculator-7.png") no-repeat 0 0;width:200px;height:236px}
.soles .dolares .graph-chart-1,.dolares .graph-chart-1{background:transparent url("../images/banner/calculator-9.png") no-repeat 0 0}
.graph-chart-2{background:transparent url("../images/banner/calculator-8.png") no-repeat 0 0;width:216px;height:220px}
.graph-chart-3{background:transparent url("../images/banner/calculator-9.png") no-repeat 0 0;width:200px;height:236px}
#chart3 .label-item-sueldo .icon-label{background-color:#ffede6}
#chart3 .chart-1,#chart3 .label-item-1 .icon-label{background-color:#fd5003}
#chart3 .chart-0,#chart3 .label-item-0 .icon-label{background-color:#fea781}
#chart2 .label-item-valor_casa .icon-label{background-color:#ffede6}
#chart2 .chart-1,#chart2 .label-item-1 .icon-label{background-color:#fd5003}
#chart2 .label-item-1{display:block !important}
#chart2 .chart-0,#chart2 .label-item-0 .icon-label{background-color:#fe844e}
#chart1 .label-item-ahorro .icon-label{background-color:#ffede6}
.Explorer_6 .graph-chart-1{background-image:url("../images/banner/calculator-7-2.png")}
.Explorer_6 .soles .dolares .graph-chart-1,.Explorer_6 .dolares .graph-chart-1,.Explorer_6 .graph-chart-3{background-image:url("../images/banner/calculator-9-2.png")}
.Explorer_6 .graph-chart-2{background-image:url("../images/banner/calculator-8-2.png")}
#slider{position:relative;background:transparent url("../images/site/calculator-slider.png") no-repeat 0 0;width:367px;height:6px;}
#slider .ui-slider-handle{position:absolute;top:-5px;background:transparent url("../images/site/calculator-slider-handle.png") no-repeat 0 0;display:block;width:18px;height:18px}
#slider_footer{padding-top:10px;width:367px;}
#slider_footer .last{text-align:right}
.cal-step{background:transparent url("../images/site/calculator_step_bg.png") no-repeat 100% 0;display:block;padding:5px 24px 0 30px;height:32px;width:26px;float:left;text-align:center;color:#fff !important;margin-left:-19px;font-weight:bold;zoom:1;}
.cal-step:hover,.cal-step.active{background-position:100% -41px;border-color:#00b1cd !important}
.Explorer_6 .cal-step{background-image:url("../images/site/calculator_step_bg-2.png")}
.cal-step-first{margin-left:0;padding-left:0;width:30px;border-left:12px solid #9e9fa1}
.block-step{cursor:default !important;}
.block-step:hover{background-position:100% 0;border-color:#bcbcbc}
.notview-step{background-position:100% -83px;border-color:#bcbcbc;color:#666 !important;cursor:default !important;}
.notview-step:hover{background-position:100% -83px;border-color:#bcbcbc !important}
.cal-content{position:relative;width:732px;height:420px;padding-left:113px;font-size:1.3em;color:#3c3d40;}
.cal-content .cal-content-inner{width:440px}
.cal-content .term{color:#3c3d40;font-size:1.2em;margin:0 0 .5em}
.cal-content .choose{padding:0 0 0 100px}
.cal-content .row{margin:0 0 .1em}
.cal-content th,.cal-content td{vertical-align:top;padding:5px 0;font-weight:normal}
.cal-content th{text-align:left;width:150px}
.cal-content td{text-align:center;width:192px}
.cal-content td.normal{vertical-align:middle}
.cal-content small{font-size:.8em}
.cal-content table{width:450px}
#p0{background:transparent url("../images/banner/calculator-0.png") no-repeat 100% 100%;}
#p0 .cal-content-inner{padding-top:102px;text-align:justify}
#p0 h3{margin:0;font-size:1.3em}
#p0 p{font-size:.9em}
#p1{background:transparent url("../images/banner/calculator-0.png") no-repeat 113px 100%;}
#p1 .cal-content-inner{position:absolute;top:140px;left:448px}
#p2{background:transparent url("../images/banner/calculator-2.png") no-repeat 113px 100%;}
#p2 .cal-content-inner{position:absolute;top:87px;left:400px}
#p3{background:transparent url("../images/banner/calculator-3.png") no-repeat 113px 100%;}
#p3 .cal-content-inner{position:absolute;top:87px;left:400px}
#p4{background:transparent url("../images/banner/calculator-4.png") no-repeat 113px 100%;}
#p4 .cal-content-inner{position:absolute;top:87px;left:400px}
#p5 .cal-content-inner{position:absolute;top:76px;left:400px}
#p5 .push{padding:5px 0 0}
.soles #p5.dolares,.dolares #p5{background:transparent url("../images/banner/calculator-5.png") no-repeat 113px 100%}
.dolares #p5.soles,.soles #p5{background:transparent url("../images/banner/calculator-5-1.png") no-repeat 113px 100%}
#p6 .cal-content-inner{position:absolute;top:42px;left:442px}
#p6 .push{display:block}
#p6 .radio{margin:0 15px 0 0}
#p7 .cal-content-inner{position:absolute;top:13px;left:395px;font-size:.9em}
#p7 table{width:422px}
#p8 .cal-content-inner{position:absolute;top:70px;left:395px;font-size:.9em}
#p9 .cal-content-inner{position:absolute;top:70px;left:395px;font-size:.9em}
#p10 .cal-content-inner{position:absolute;top:46px;left:395px;font-size:.9em}
#p10 th{width:220px}
#p10 .full{width:100%;text-align:left}
#p11 .cal-content-inner{position:absolute;top:30px;left:395px;width:450px;font-size:.9em}
#text114{font-size:1.3em;font-weight:bold}
#text115{zoom:1}
#wrapper{position:relative}
#buttons{border-top:1px solid #edebec}
#audio{background:none;position:absolute;bottom:56px;left:105px;width:28px;height:28px;margin:0}
#audio_stop{background:transparent url("../images/site/audio-buttons.jpg");position:static;display:block;width:28px;height:28px;}
#audio_stop.mute{background-position:-40px 0}
.Explorer_6 .cal-step{margin-left:-27px}
.Explorer_6 .cal-step-first{margin-left:0}
