<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html id="html" lang="es"><head><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><title>Inmuebles - Cr&eacute;dito Hipotecario BCP</title><link href="/static/css/site.css?_=1329253105744" type="text/css" rel="styleSheet" media="screen"/><script type="text/javascript" src="/static/js/site.prefixfree.js"></script><!--[if lt IE 8]>
<link href="/static/css/site.ie.css?_=1329253105744" type="text/css" rel="styleSheet" media="screen"/><![endif]-->
<link/></head><body id="body"><script type="text/javascript" src="/static/js/site.useragent.js"></script><div id="bcp"><span id="logo">Cr&eacute;dito Hipotecario BCP</span></div><div id="wrapper"><div id="header"><h1 class="cb title">Quiero comprar una casa</h1><div id="shortcuts" class="c"><a href="/" class="item">Home</a><a href="/quiero-comprar-una-casa/diccionario" class="item">Diccionario hipotecario</a><a href="/quiero-comprar-una-casa/preguntas-frecuentes" class="item">Preguntas frecuentes</a></div><div id="breadcrumbs"><a href="/" class="item">Home</a><a href="/quiero-comprar-una-casa" class="item">Quiero Comprar una casa</a><span class="item active">Inmuebles</span></div></div><div id="menu" class="c clearfix"><div id="cm1" class="menu-cont"><a href="/quiero-comprar-una-casa/encuentra-tu-casa" class="menu-item active">Encuentra tu casa</a><div class="tooltip">Aqu&iacute; encontrar&aacute;s la casa o departamento de tus sue&ntilde;os.</div></div><div id="cm2" class="menu-cont"><a href="/quiero-comprar-una-casa/credito-a-tu-medida" class="menu-item ">Cr&eacute;ditos a tu medida</a><div class="tooltip">Averigua cu&aacute;l es el cr&eacute;dito hecho a tu medida.</div></div><div id="cm3" class="menu-cont"><a href="/quiero-comprar-una-casa/que-necesitas" class="menu-item ">&iquest;Qu&eacute; necesitas?</a><div class="tooltip">Averigua qu&eacute; documentos necesitas para ingresar tu solicitud.</div></div><div id="cm4" class="menu-cont"><a href="/quiero-comprar-una-casa/9-pasos-para-lograrlo" class="menu-item ">9 Pasos para lograrlo</a><div class="tooltip">Conoce la ruta que te convertir&aacute; en propietario.</div></div></div><img id="banner" src="/static/images/banner/encuentra-tu-casa-1.jpg"/><div id="main"><div id="primary">{% set project = project|default({}) %}
<div class="simple-inner"><div class="titles"><h2 class="c cb">Tenemos la casa para ti</h2>{% if externo or project.externo %}
<h2 class="c cb title">Ofertas de corredores inmobiliarios</h2>{% else %}
<h2 class="c cb title">Proyectos financiados por el BCP</h2>{% endif %}
</div>{% if project.externo %}
<a href="{{ handler.reverse_url('site_list_project_externos') }}" class="back">regresar</a>{% else %}
<a href="{{ handler.reverse_url('site_list_project') }}" class="back">regresar</a>{% endif %}
<div class="item-expanded"><div class="expanded-title shadow-1"><h2 class="c cb title item-title">{{ project.ubigeo.name }}<em class="price">{% if project.price_type == 1 %}S/.{% else %}US${% endif %} {{ (project.price|int)|format_number }}</em></h2></div><div class="item-pic">{% if project.selected_image %}
<a href="#" data-reveal-id="gallery" data-animation="fade" id="view_gallery"><img width="277" height="186" src="{% if project.selected_image %}{{ project.selected_image.medium_url }}{% else %}/static/images/site/default-1.png{% endif %}"/></a>{% else %}
<img width="277" height="186" src="/static/images/site/default-1.png"/>{% endif %}
<div class="item-pic-footer clearfix"><div class="item-rooms"><span class="bedroom">{% if project.bedrooms > 0 %}{{ project.bedrooms }}{% else %}0{% endif %}</span><span class="bathrooms">{% if project.bathrooms > 0 %}{{ project.bathrooms|num_str }}{% else %}0{% endif %}</span><span class="garage">{% if project.garages > 0 %}{{ project.garages }}{% else %}0{% endif %}</span></div>{% if project.selected_image %}
<a href="#" data-reveal-id="gallery" data-animation="fade" class="c item-pic-label">Ver fotos</a>{% endif %}
</div></div><div class="item-main item-detail">{% if project.specs.builder %}
<div class="group titles"><h3 class="title">Construye</h3><p class="c builder">{{ project.specs.builder }}</p></div><div class="group"><h3 class="title">Direcci&oacute;n</h3><p class="c meta">Direcci&oacute;n: {{ project.address }}</p></div>{% else %}
<div class="group titles"><h3 class="title">Direcci&oacute;n</h3><p class="c meta">Direcci&oacute;n: {{ project.address }}</p></div>{% endif %}
<div class="group"><h3 class="title">Informaci&oacute;n de contacto</h3><p class="c meta">Nombre: {{ project.contact.name }}</p><p class="c meta">E-mail: {{ project.contact.email }}</p><p class="c meta">Tel&eacute;fono: {{ project.contact.phone }}</p></div></div><div class="item-secundary item-detail"><h3 class="title">Especificaciones del proyecto:</h3><ul class="list-1"><li class="meta">Unidades disponibles: {{ project.specs.num_available }}</li>{% if project.specs.floor %}
<li class="meta">{{ project.specs.floor }}</li>{% endif %}
<li class="meta">&Aacute;rea desde: {{ project.specs.area_min }}</li><li class="meta">&Aacute;rea hasta: {{ project.specs.area_max }}</li><li class="meta">Precio desde: {% if project.price_type == 1 %}S/.{% else %}US${% endif %} {{ project.specs.price_min }}</li><li class="meta">Precio hasta: {% if project.price_type == 1 %}S/.{% else %}US${% endif %} {{ project.specs.price_max }}</li><li class="meta">Web: <a href="{{ project.specs.web }}">{{ project.specs.web|replace('http://', '') }}</a></li></ul><h3 class="title">Caracter&iacute;sticas</h3><div class="clearfix"><ul class="list-1 columns two"><li class="meta">Cuarto de servicio: {% if project.characteristics.serviceroom %}Si{% else %}No{% endif %}</li><li class="meta">Instalaci&oacute;n gas: {% if project.characteristics.gas %}Si{% else %}No{% endif %}</li><li class="meta">Piscina: {% if project.characteristics.swimming_pool %}Si{% else %}No{% endif %}</li><li class="meta">Closets en dormitorios: {% if project.characteristics.closet %}Si{% else %}No{% endif %}</li><li class="meta">Lavander&iacute;a: {% if project.characteristics.laundry %}Si{% else %}No{% endif %}</li></ul><ul class="list-1 columns two"><li class="meta">Vista parque: {% if project.characteristics.park_view %}Si{% else %}No{% endif %}</li><li class="meta">Terraza: {% if project.characteristics.terrace %}Si{% else %}No{% endif %}</li><li class="meta">Jard&iacute;n: {% if project.characteristics.garden %}Si{% else %}No{% endif %}</li><li class="meta">Amoblado: {% if project.characteristics.furnished %}Si{% else %}No{% endif %}</li><li class="meta">Reposteros en cocina: {% if project.characteristics.kitchen_cabinet %}Si{% else %}No{% endif %}</li></ul></div></div><div class="module module-complement shadow-6"><div class="module-inner"><p class="c cb"><strong>&iquest;Te interesa este inmueble?</strong></p><p class="c">Tenemos un experto a tu servicio, d&eacute;janos tus datos <a href="/quiero-comprar-una-casa/contacto" class="cb linkhigh">aqu&iacute; </a>y te contactaremos.
</p></div></div></div><a href="#" class="print printnow">Imprimir</a></div></div><div id="sidebar"><div class="module-mini shadow-2 fx-button open-popup undefined"><div class="module-inner clearfix"><div class="icon icon-calculadora"></div><div class="detail"><h2 class="cb title">Conoce tu mejor cuota</h2><p class="description">&iquest;Cu&aacute;l es la cuota que m&aacute;s te conviene? Desc&uacute;brelo f&aacute;cilmente y en pocos pasos.</p></div><a href="/calculadora" class="link">leer m&aacute;s</a></div></div><div class="module-mini shadow-2 fx-button"><div class="module-inner clearfix"><div class="icon icon-contact"></div><div class="detail"><h2 class="c cb title">&iquest;Te interesa <br/>este inmueble?
</h2><p class="description">D&eacute;janos tus datos y nos<br/>contactaremos contigo para
<br/>darte mayor informaci&oacute;n.
</p></div><a href="/quiero-comprar-una-casa/contacto" target="_blank" class="link">leer m&aacute;s</a></div></div><div class="module-mini module-tip shadow-2"><div class="module-inner clearfix"><div class="icon icon-tip"></div><div class="detail"><h2 class="cb title">T&iacute;ps BCP</h2><p class="description">Para encontrar tu casa so&ntilde;ada</p></div><a href="" class="link open-tip">leer m&aacute;s</a></div><div style="display: none" class="module-inner module-inner-alter"><h2 class="c title tip-item"><strong>Evalua si te conviene alquilar o comprar</strong></h2><p class="description tip-description">Siempre es mejor pagar por una casa o departamento que va a ser tuyo, que pagar un alquiler por algo que nunca lo va a ser. Adem&aacute;s, en el largo plazo, pagar alquiler por toda una vida resulta ser mucho m&aacute;s costoso que comprar una propiedad. Y no solo eso: despu&eacute;s de pagar tantos a&ntilde;os de alquiler, al final tu familia no heredar&aacute; nada, y todo el dinero que pagaste ser&aacute; dinero perdido.
</p><h2 class="c title tip-item"><strong>Elige con cuidado en qu&eacute; distrito comprar tu casa</strong></h2><p class="description tip-description">Esta es una decisi&oacute;n muy personal, pero aqu&iacute; te damos algunos consejos. Antes de buscar la casa de tus sue&ntilde;os debes decidir en qu&eacute; distrito o barrio quieres vivir. Esto es sumamente importante. Cada ciudad y cada zona evolucionan de forma diferente en el tiempo y como tu compra inmobiliaria es una inversi&oacute;n a largo plazo, te recomendamos averiguar acerca de los planes de crecimiento y desarrollo urban&iacute;stico del barrio que elijas. As&iacute; podr&aacute;s hacer una proyecci&oacute;n econ&oacute;mica de tu futuro inmueble para determinar si elevar&aacute; su valor o lo perder&aacute; con el paso de los a&ntilde;os. </p><h2 class="c title tip-item"><strong>&iquest;Comprar un inmueble en proyecto o terminado?</strong></h2><p class="description tip-description last">Cada uno tiene sus ventajas y desventajas. Eval&uacute;alas y elige lo que m&aacute;s te convenga. Por lo general, un inmueble en planos cuesta menos por metro cuadrado que uno terminado, lo que significa un ahorro de dinero. Adem&aacute;s, al comprarlo en planos puedes hacer algunas modificaciones para construirlo a tu gusto, sin que esto aumente el precio. La mayor desventaja es el riesgo de retraso o incumplimiento en la entrega. Pero si compras tu inmueble con un Cr&eacute;dito Hipotecario BCP, este riesgo se reduce al m&iacute;nimo, ya que nosotros nos encargamos de solicitar a los constructores y vendedores las garant&iacute;as necesarias para proteger tu inversi&oacute;n. Por otro lado, si decides comprar un inmueble terminado, la mayor ventaja es que puedes mudarte de inmediato.
</p><h2 class="c title tip-item"><strong>Estudia todos los aspectos antes de escojer tu casa</strong></h2><p class="description tip-description">Para elegir la casa ideal debes tomar en cuenta varios aspectos. Por ejemplo, para determinar el tama&ntilde;o de tu vivienda considera cu&aacute;ntas personas vivir&aacute;n ah&iacute;. Conversa con ellos, conoce sus gustos y necesidades, tomen juntos la decisi&oacute;n correcta.</p><h2 class="c title tip-item last"><strong>Busca la casa de tus sue&ntilde;os</strong></h2><p class="description tip-description">Pasea por las calles en las que quisieras vivir y mira si est&aacute;n vendiendo una casa o departamento que te guste; o si prefieres revisa avisos de diarios, revistas o Internet. Tambi&eacute;n puedes acercarte a una sucursal BCP y pedir nuestra relaci&oacute;n de proyectos en Lima y provincias o asistir al Casa Show BCP, la feria inmobiliaria m&aacute;s grande del Per&uacute;, y en la que podr&aacute;s elegir entre la gran variedad de proyectos inmobiliarios que ponemos a tu alcance. Cualquiera sea el caso, una vez que elijas un inmueble, el BCP te ayudar&aacute; a adquirirlo.</p></div></div></div></div></div><div id="gallery" class="reveal-modal reveal-medium-2"><div class="inner"><span class="close-reveal-modal">&#215;</span><div class="titles"><h2 class="c title-simple">Galer&iacute;a de fotos</h2><h2 class="c title">{{ project.title }}</h2></div><div id="gallery_content" class="clearfix"><div id="gallery_inner"><img id="photo_gal" width="490" height="391" src="{{ project.selected_image.large_url }}"/></div><div id="gallery_nav"><div id="gallery_nav_up">Anterior</div><div id="gallery_nav_slide_cont"><div id="gallery_nav_slide">{% for item in project.images %}
<a href="{{ item.large_url }}" class="pic {% if loop.first %}active{% endif %}"><img width="108" height="85" src="{{ item.tiny_url }}"/></a>{% endfor %}
</div></div><div id="gallery_nav_down">Siguiente</div></div></div><div class="module module-complement shadow-6"><div class="module-inner"><p class="c cb"><strong>&iquest;Te interesa este inmueble?</strong></p><p class="c">Tenemos un experto a tu servicio, d&eacute;janos tus datos <a href="/quiero-comprar-una-casa/contacto" class="cb linkhigh">aqu&iacute; </a>y te contactaremos.
</p></div></div></div></div><script type="text/javascript" src="/static/js/site.core.min.js?_=1329253105744"></script><!--[if lt IE 7]>
<script type="text/javascript" src="/static/js/dd_belatedPNG.js"></script><![endif]-->
<script type="text/javascript" src="/static/js/site.section.quiero.inmuebles.detalle.js"></script></body></html>