<!DOCTYPE html>
{% set title = title|default('')%}
{% set page_active = page_active|default('')%}

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html id="html" class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>    <html id="html" class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>    <html id="html" class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html id="html" lang="es"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	
  <title>{% if title %}{{ title }} - {% endif %}Gestor de contenidos - BCP Hipotecas</title>
  
	<!-- Included CSS Files -->
  <link rel="stylesheet" href="{{ handler.static_url('css/admin.foundation.css') }}">
  <link rel="stylesheet" href="{{ handler.static_url('css/admin.css') }}">

	<!--[if lt IE 9]>
  <link rel="stylesheet" href="{{ handler.static_url('css/admin.ie.css') }}">
	<![endif]-->

	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

  {% block head %}{% endblock %}

</head>
<body id="body">
  <div id="bcp">
    <span id="logo_top">BCP</span>
  </div>


	<div class="container">
		
		<div id="header" class="row">
      <h1 id="logo">Gestor de contenidos - BCP Hipotecas</h1>
      {% if handler.current_user %}
      <div id="userutil">
        <a href="{{ handler.reverse_url('admin_logout') }}">Salir</a>
      </div>
      {% endif %}
		</div>

		<div id="content" class="row">
      {% block menu %}
      {% if page_active %}
        <dl class="contained tabs">
          <dd><a href="{{ handler.reverse_url('admin_project_main') }}" {% if page_active == 'bcp' %}class="active"{% endif %}>Proyectos financiados por el BCP</a></dd>
          <dd><a href="{{ handler.reverse_url('admin_project_main_externos') }}" {% if page_active == 'otro' %}class="active"{% endif %}>Ofertas de corredores inmobiliarios</a></dd>
        </dl>
      {% endif %}
      {% endblock %}
      
      {% block content %}{% endblock %}
		</div>

	</div>

  <script type="text/javascript" charset="utf-8">
    var urls = {
      'departments': '{{ handler.reverse_url("departments") }}',
      'provinces': '{{ handler.reverse_url("provinces", "%id1%") }}',
      'districts': '{{ handler.reverse_url("districts","%id1%","%id2%") }}'
    };
  </script>
  <script src="{{ handler.static_url('js/admin.foundation.js') }}"></script>
  <script src="{{ handler.static_url('js/admin.js') }}"></script>
  {% block javascripts %}{% endblock %}
</body>
</html>
