{% extends 'admin/layout.html' %}
{% set title = 'Ingrese' %}

{% block javascripts %}
  <script src="{{ handler.static_url('js/admin.login.js') }}"></script>
{% endblock javascripts %}

{% block content %}
  <div id="main" class="row">

    <div class="five columns">
      <h2>{{ title }}</h2>
      <p>Todos los campos marcados con (*) son requeridos</p>
    </div>

    <form action="" class="thre columns" method="post">
      {% if status_code == 1 %}
      <div class="alert-box error">
        El nombre de usuario y/o la contrase&ntilde;a no son v&aacute;lidos
      </div>
      {% endif %}

      {{ handler.xsrf_form_html() }}

      <label for="username">Usuario</label>
      <input type="text" class="input-text" id="username" name="username" value="" />

      <label for="password">Contrase&ntilde;a</label>
      <input type="password" class="input-text" id="password" name="password" value="" />

      <div class="buttons">
        <button type="submit" class="nice small black button">Entrar</button>
      </div>
    </form>
  </div>
{% endblock %}
