{% extends 'admin/layout.html' %}
{% if externo %}
{% set page_active = 'otro' %}
{% else %}
{% set page_active = 'bcp' %}
{% endif %}
{% import 'admin/form_macro.html' as form %}

{% set title = title|default('Crear proyecto') %}
{% set data = data|default({}) %}
{% set data_ubigeo = data.ubigeo|default({}) %}
{% set action = action|default('create') %}

{% block javascripts %}
  <script src="{{ handler.static_url('js/admin.projects.create.js') }}"></script>
{% endblock %}

{% block content %}
  <div id="main">
    <h2>{{ title }}</h2>

    {% if status_code == 0 %}
      <div class="alert-box success">Se guardaron los datos con &eacute;xito</div>
    {% elif status_code == 1 %}
      <div class="alert-box error">Ocurri&oacute; un error inesperado</div>
    {% endif %}

    <form id="form" action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
      {{ handler.xsrf_form_html() }}

      <div class="alert-box">Todos los campos marcados con (*) son requeridos</div>

      <div class="buttons buttons-set">
        {% if externo %}
          <a href="{{ handler.reverse_url('admin_project_main_externos') }}" class="nice small black button">Cancelar</a>
        {% else %}
          <a href="{{ handler.reverse_url('admin_project_main') }}" class="nice small black button">Cancelar</a>
        {% endif %}
        <button type="submit" class="nice small black button">Guardar</button>
      </div>

      <fieldset>

        <h6 class="legend">Ubigeo</h6>

        <div class="row">

           <div class="four columns">

              <label for="department">* Departamento</label>
              <select name="department" id="department" class="large">
                <option value="">Elija una opci&oacute;n</option>
                {% for item in cities %}
                <option value="{{ item.city_code }}" {% if data_ubigeo.city_code == item.city_code|string %}} selected=selected {% else %} {%endif%}>{{ item.name }}</option>
                {% endfor %}
              </select>

           </div>
           <div class="four columns">

              <label for="province">* Provincia</label>
              <select name="province" id="province" class="large">
                {% if districts %}
                  <option value="">Elija una opci&oacute;n</option>
                  {% for item in districts %}
                  <option value="{{ item.id }}" {% if data_ubigeo.district_code == item.district_code|string %}} selected=selected {% else %} {%endif%}>{{ item.name }}</option>
                  {% endfor %}
                {% else %}
                  <option value="">Elija una Ciudad</option>
                {% endif %}
              </select>

           </div>


        </div>
        {% if project_form and project_form.ubigeo.errors %}
        <small class="error">{% for error in project_form.ubigeo.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
        {% endif %}
        

      </fieldset>


      <fieldset>
        <h6 class="legend">Datos generales</h6>

        <div class="row">

          <div class="nine columns">


            <label for="title">* Nombre</label>
            <input type="text" name="title" id="title" class="input-text large" value="{{ project_form.title.data }}" />
            {% if project_form and project_form.title.errors %}
            <small class="error">{% for error in project_form.title.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

          </div>

          <div class="three columns">

            <label for="type">* Tipo</label>
            <select name="type" id="type">
              <option value="">Elija una opci&oacute;n</option>
              {% for item in types %}
              <option value="{{ item[0] }}" {% if project_form.type.data == item[0] %}selected="selected"{% endif %}>{{ item[1] }}</option>
              {% endfor %}
            </select>
            {% if project_form and project_form.type.errors %}
            <small class="error">{% for error in project_form.type.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}
            
          </div>
        </div>


        <div class="row">
          <div class="two columns">
            <label for="price_type">Tipo de moneda</label>
            <select id="price_type" name="price_type" class="small" style="width: 141px;">
              <option value="2" {% if project_form.price_type and project_form.price_type.data == 2 %}selected="selected"{% endif %}>(US$) D&oacute;lares</option>
              <option value="1" {% if project_form.price_type and project_form.price_type.data == 1 %}selected="selected"{% endif %}>(S/.) Soles</option>
            </select>
          </div>

          <div class="two columns">
            <label for="price">* Precio</label>
            <input type="text" name="price" id="price" class="input-text small number" value="{{ project_form.price.data }}" />
            {% if project_form and project_form.price.errors %}
            <small class="error">{% for error in project_form.price.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}
          </div>

          <div class="two columns">

            <label for="price_min">Precio desde</label>
            <input type="text" name="specs_price_min" id="price_min" class="input-text small number" value="{{ specs_form.price_min.data }}" />            
            {% if specs_form and specs_form.price_min.errors %}
            <small class="error">{% for error in project_form.price_min.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

          </div>
            
          <div class="two columns">

            <label for="price_max">Precio hasta</label>
            <input type="text" name="specs_price_max" id="price_max" class="input-text small number" value="{{ specs_form.price_max.data }}" />            
            {% if specs_form and specs_form.price_max.errors %}
            <small class="error">{% for error in project_form.price_max.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

          </div>
        </div>


        <div class="row">

          <div class="two columns">

            <label for="bedrooms">Dormitorios</label>
            <input type="text" name="bedrooms" id="bedrooms" class="input-text small number" value="{{ project_form.bedrooms.data }}" />
            {% if project_form and project_form.bedrooms.errors %}
            <small class="error">{% for error in project_form.bedrooms.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}
            

          </div>

          <div class="two columns">

            <label for="bathrooms">Ba&ntilde;os</label>
            <input type="text" name="bathrooms" id="bathrooms" class="input-text small number" value="{{ project_form.bathrooms.data }}" />
            {% if project_form and project_form.bathrooms.errors %}
            <small class="error">{% for error in project_form.bathrooms.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}
            
          </div>

          <div class="two columns">

            <label for="garages">Cocheras</label>
            <input type="text" name="garages" id="garages" class="input-text small number" value="{{ project_form.garages.data }}" />
            {% if project_form and project_form.garages.errors %}
            <small class="error">{% for error in project_form.garages.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

          </div>

        </div>


        {#
        <label for="description">* Descripci&oacute;n</label>
        <textarea name="description" id="description" class="large" rows="7">{{- project_form.description.data -}}</textarea>
        {% if project_form and project_form.description.errors %}
        <small class="error">{% for error in project_form.description.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
        {% endif %}
        #}
        

        <div class="row" style="padding-bottom: 20px">
          <label for="status">Estado</label>
          <label for="status_0" class="inline">
            <input name="status" id="status_0" type="radio" {% if project_form.status.data == True %}checked=checked{% endif %} value='true' />
            Publicado
          </label>

          <label for="status_1" class="inline">
            <input name="status" id="status_1" type="radio" {% if project_form.status.data == False %}checked=checked{% endif %} value='' />
            Pendiente
          </label>
          {% if project_form and project_form.status.errors %}
          <small class="error">{% for error in project_form.status.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
          {% endif %}

          <br/>
          <br/>
          <br/>

          <label for="externo_0">
            &iquest;Inmueble externo al BCP?
          </label>
          <label for="externo_0" class="inline">
            <input name="externo" id="externo_0" type="checkbox" {% if externo == True %}checked=checked{% endif %} value='true' />
            S&iacute;, el inmueble es externo
          </label>
        </div>
      </fieldset>


      <fieldset>
        <h6 class="legend">Contacto</h6>

        <div class="row">

          <div class="six columns">

            <label for="contact_name">* Nombre</label>
            <input type="text" name="contact_name" id="contact_name" class="input-text large" value="{{ contact_form.name.data }}" />
            {% if contact_form and contact_form.name.errors %}
            <small class="error">{% for error in contact_form.name.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}
            

            <label for="contact_email">* Correo electr&oacute;nico</label>
            <input type="text" name="contact_email" id="contact_email" class="input-text large" value="{{ contact_form.email.data }}" />
            {% if contact_form and contact_form.email.errors %}
            <small class="error">{% for error in contact_form.email.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

          </div>

          <div class="six columns">

            <label for="contact_phone">* Tel&eacute;fono</label>
            <input type="text" name="contact_phone" id="contact_phone" class="input-text large" value="{{ contact_form.phone.data }}" />
            {% if contact_form and contact_form.phone.errors %}
            <small class="error">{% for error in contact_form.phone.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

            <label for="contact_address">* Direcci&oacute;n</label>
            <input type="text" name="contact_address" id="contact_address" class="input-text large" value="{{ contact_form.address.data }}" />
            {% if contact_form and contact_form.address.errors %}
            <small class="error">{% for error in contact_form.address.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

          </div>

        </div>

      </fieldset>

      <fieldset>
        <h6 class="legend">Especificaciones</h6>

        <div class="row">

          <div class="six columns">

            <label for="builder">Construye</label>
            <input type="text" name="specs_builder" id="builder" class="input-text large" value="{{ specs_form.builder.data }}" />            
            {% if specs_form and specs_form.builder.errors %}
            <small class="error">{% for error in project_form.builder.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

            <label for="floor">Decoraci&oacute;n</label>
            <input type="text" name="specs_floor" id="floor" class="input-text large" value="{{ specs_form.floor.data }}" />            
            {% if specs_form and specs_form.floor.errors %}
            <small class="error">{% for error in project_form.floor.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

          </div>

          <div class="six columns">

            <label for="web">Web</label>
            <input type="text" name="specs_web" id="web" class="input-text large" value="{{ specs_form.web.data }}" />            
            {% if specs_form and specs_form.web.errors %}
            <small class="error">{% for error in project_form.web.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

          </div>

        </div>

        <div class="row">

          <div class="two columns">

            <label for="num_available">Unid. disponibles</label>
            <input type="text" name="specs_num_available" id="num_available" class="input-text small number" value="{{ specs_form.num_available.data }}" />            
            {% if specs_form and specs_form.num_available.errors %}
            <small class="error">{% for error in project_form.num_available.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

          </div>

          <div class="two columns">

            <label for="area_min">&Aacute;rea desde</label>
            <input type="text" name="specs_area_min" id="area_min" class="input-text small number" value="{{ specs_form.area_min.data }}" />            
            {% if specs_form and specs_form.area_min.errors %}
            <small class="error">{% for error in project_form.area_min.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

          </div>

          <div class="two columns">

            <label for="area_max">&Aacute;rea hasta</label>
            <input type="text" name="specs_area_max" id="area_max" class="input-text small number" value="{{ specs_form.area_max.data }}" />            
            {% if specs_form and specs_form.area_max.errors %}
            <small class="error">{% for error in project_form.area_max.errors %}{% if not loop.first %}<br/>{% endif %}{{ error }}{% endfor %}</small>
            {% endif %}

          </div>
        </div>

      </fieldset>

      <fieldset>
        <h6 class="legend">Caracter&iacute;sticas</h6>

        <div class="row">

          <div class="six columns">


            {% for item in project_form.characteristics.data %}

            <label for="serviceroom">
                <input name="chars_serviceroom" id="serviceroom" type="text" value="{% item.name %}" {% endif %}  />
              Cuarto de servicio
            </label>

            {% endfor %}



            <label for="gas">
              <input name="chars_gas" id="gas" type="text" {% if characteristics_form.gas.data == True %}checked="checked"{% endif %} />
              Instalaci&oacute;n de gas
            </label>
              


          </div>

          <div class="six columns">

            <label for="park_view">
              <input name="chars_park_view" id="park_view" type="checkbox" {% if characteristics_form.park_view.data == True %}checked="checked"{% endif %} />
              Vista parque
            </label>

            <label for="terrace">
              <input name="chars_terrace" id="terrace" type="checkbox" {% if characteristics_form.terrace.data == True %}checked="checked"{% endif %} />
              Terraza
            </label>
              
            <label for="garden">
              <input name="chars_garden" id="garden" type="checkbox" {% if characteristics_form.garden.data == True %}checked="checked"{% endif %} />
              Jard&iacute;n
            </label>

            <label for="furnished">
              <input name="chars_furnished" id="furnished" type="checkbox" {% if characteristics_form.furnished.data == True %}checked="checked"{% endif %} />
              Amoblado
            </label>
              
            <label for="kitchen_cabinet">
              <input name="chars_kitchen_cabinet" id="kitchen_cabinet" type="checkbox" {% if characteristics_form.kitchen_cabinet.data == True %}checked="checked"{% endif %} />
              Reposteros en cocina
            </label>

          </div>
        </div>
      </fieldset>


      {% if action == 'edit' %}
      <fieldset>
        <h6 class="legend">Im&aacute;genes</h6>

        {{ form.input_multiple(label='Agregar im&aacute;genes', end_label='Medidas recomendadas 277 x 186 pixeles', name='imagen', type='file', attrs='multiple') }}

        {% for item in data.images %}
        {% set url =  (handler.static_url('uploads') + '/' + item.id|string) + '/' + ('small%s' % item.fext) | default('') %}
        {{ loop.cycle('<div class="row">','') }}
            <div id="image_{{ loop.index }}" class="six columns image_content">
              <div class="alert-box">
                <label for="image_selected_{{ loop.index }}">
                  <input name="image_selected" id="image_selected_{{ loop.index }}" class="image-selected" type="radio" value="{{ item.id|string }}" data-delete-image="delete_image_{{ loop.index }}" {% if data.selected_image.id == item.id %}checked="checked"{% endif %} />
                  Resaltar imagen
                </label>
                <img class="image_" src="{{ url }}" />
                <a id="delete_image_{{ loop.index }}" href="{{ handler.reverse_url('admin_project_delete_image') }}" class="delete-image nice small red button" 
                  data-modal="imageRemoveModal" 
                  data-id="{{ item.id }}" 
                  data-project_id="{{ data.id }}" 
                  data-index="image_{{ loop.index }}" 
                  >Eliminar imagen</a>
              </div>
            </div>
          {% if loop.last %}
            </div>
          {% else %}
            {{ loop.cycle('', '</div>') }}
          {% endif %}
        {% endfor %}

      </fieldset>
      {% endif %}

      <div class="buttons buttons-set">

        {% if externo %}
          <a href="{{ handler.reverse_url('admin_project_main_externos') }}" class="nice small black button">Cancelar</a>
        {% else %}
          <a href="{{ handler.reverse_url('admin_project_main') }}" class="nice small black button">Cancelar</a>
        {% endif %}

        <button type="submit" class="nice small black button">Guardar</button>

      </div>
    </form>
  </div>

  <div id="imageRemoveModal" class="reveal-modal">
    <h3>&iquest;Eliminar imagen?</h3>
     
     <div class="buttons">
       <a href="#" id="modal_no" class="nice normal black button close-reveal-modal ">No</a>
       <a href="#" id="modal_go" class="nice normal red button">S&iacute;, eliminar imagen</a>
     </div>
     <a class="close-reveal-modal">&#215;</a>
  </div>

{% endblock %}
