{% extends 'admin/layout.html' %}
{% if externo %}
{% set page_active = 'otro' %}
{% else %}
{% set page_active = 'bcp' %}
{% endif %}
{% import 'admin/list_macro.html' as macro %}

{% set title = 'Proyectos' %}

{% block javascripts %}
  <script src="{{ handler.static_url('js/admin.projects.list.js') }}"></script>
{% endblock %}

{% block content %}
  <div id="main">
    <h2>{{ title }}</h2>
    <div class="buttons">
      {% if externo %}
      <a href="{{ handler.reverse_url('admin_project_add_externo') }}" class="nice small black button">Agregar proyecto</a>
      {% else %}
      <a href="{{ handler.reverse_url('admin_project_add') }}" class="nice small black button">Agregar proyecto</a>
      {% endif %}
    </div>


    <table border="0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Estado</th>
          <th style="width: 200px">Opciones</th>
        </tr>
      </thead>

      <tbody>
        {% for item in items %}
        <tr id="{{ loop.index }}">
          <td>
            {{ item.title }}
          </td>
          <td>
            {% if item.status %}Publicado{% else %}Pendiente{% endif %}
          </td>
          <td>
              <a href="{{ handler.reverse_url('admin_project_edit', item.id) }}">Editar</a>
              <a href="{{ handler.reverse_url('admin_project_delete') }}" 
                class="delete" 
                data-modal="projectRemoveModal"
                data-name="{{ item.title }}" 
                data-id="{{ item.id }}" 
                data-index="{{ loop.index }}"
                >Eliminar</a>
          </td>
        </tr>
        {% else %}
          <tr>
            <td colspan="3">
              <div class="alert-box">
                No hay proyectos
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if pages|length > 1 %}
      {{ 
        macro.pagination(
          pagination={
            'current_page': current_page,
            'pages': pages 
          }
        ) 
      }}
    {% endif %}
  </div>

  <div id="projectRemoveModal" class="reveal-modal">
    <h2>&iquest;Eliminar el proyecto <span id="modal_name"></span>?</h2>
     <p class="lead"></p>
     
     <div class="buttons">
       <a href="#" class="nice normal black button close-reveal-modal ">No</a>
       <a href="#" id="modal_go" class="nice normal red button">S&iacute;, eliminar proyecto</a>
     </div>
     <a class="close-reveal-modal">&#215;</a>
  </div>

  <div id="projectRemoveModalError" class="reveal-modal">
    <h2>No se pudo eliminar proyecto</h2>
     
     <div class="buttons">
       <a href="#" class="nice normal black button close-reveal-modal ">Aceptar</a>
     </div>
     <a class="close-reveal-modal">&#215;</a>
  </div>
{% endblock %}
