<table>
<tr><td><strong>Nombre</strong><td></td>{{form.name.data}}</td></tr>
<tr><td><strong>Apellido materno</strong><td></td>{{form.lastname_mother.data}}</td></tr>
<tr><td><strong>Apellido paterno</strong><td></td>{{form.lastname_father.data}}</td></tr>
<tr><td><strong>Tipo de documento</strong><td></td>{{form.document_type.data}}</td></tr>
<tr><td><strong>N documento</strong><td></td>{{form.document_number.data}}</td></tr>
<tr><td><strong>¿Recibes tu sueldo a través del BCP?</strong><td></td>{% if form.cuenta_sueldo.data %}Sí{% else %}No{% endif %}</td></tr>
<tr><td><strong>Tipo de contacto</strong><td></td>{{form.contact.data|title}}</td></tr>
<tr><td><strong>Telf.</strong><td></td>{{form.phone.data}}</td></tr>
<tr><td><strong>Direcc.</strong><td></td>{{form.address.data}}</td></tr>
<tr><td><strong>Email</strong><td></td>{{form.email.data}}</td></tr>
<tr><td><strong>¿Ya encontraste la vivienda que quieres?</strong><td></td>{% if form.buying_home.data %}Sí{% else %}No{% endif %}</td></tr>
<tr><td><strong>¿Es la primera vez que compras una vivienda?</strong><td></td>{% if form.buying_home_first.data %}Sí{% else %}No{% endif %}</td></tr>
<tr><td><strong>Comentario</strong><td></td>{{form.comment.data}}</td></tr>
</table>
