<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <style type="text/css">
        html, body, h1, ul {
            margin: 0;
            padding: 0;
        }

        body {
            color: #555;
            font-style: italic;
            font-family: Formata;
            font-size: 12px;
        }

        h2 {
            color: white;
            background: #E34E26;
            padding: 7px 30px;
            font-size: 20px;
            display: inline-block;
        }

        ul, p, div {
            padding: 0 40px;
            text-align: justify;
        }

        .blue {
            color: #020B68;
        }

        #bcp {
            background: #020B68;
            position: relative;
            height: 58px;
            z-index: 2;
        }

        #logo {
            background: #020B68 url({{ media }}/images/site/bcp-logo-69x19.png);
            position: absolute;
            top: 19px;
            right: 46px;
            display: block;
            width: 69px;
            height: 19px;
            text-indent: -9999em;
        }

        li {
            list-style-image: url('{{ media }}/images/site/style-list-bg-2.png');
            list-style-position: inside;
            /*background: url('{{ media }}/images/site/style-list-bg-7.png') no-repeat 0 4px;*/
            /*list-style: none;*/
            /*padding-left: 10px;*/
        }

        li ul {
            padding: 0 20px;
        }
        li li {
            list-style-image: none;
            list-style: disc;
            /*background: none;*/
            /*padding-left: 5px;*/
        }
        table {
            border-collapse: collapse;
            margin:5px;
        }
        td, th {
            border: 1px solid #ccc;
            padding: 5px 10px;
        }
        td ul {
            padding: 0 15px;
        }
        div p {
          padding: 0;
        }
        p.legal {
            font-size: 8px;
            color: #58595B;
            text-align: justify;
        }
    </style>
</head>
<body>
<h1 id="bcp"><span id="logo"></span></h1>
{% block content %}{% endblock %}
<br>
<br>
<p class="foo">Atentamente,<br/>Banco de Crédito BCP</p>
<br>
<p class="legal">La información difundida en esta página web es referencial y podrá ser actualizada, modificada o eliminada por el Banco de Crédito del Perú (BCP) sin necesidad de previo aviso. Para mayor información puede utilizar la línea de teléfono gratuita ubicada en las Agencias BCP, o comunicarse con nosotros vía Banca por Teléfono (311-9898) o visitar cualquiera de nuestras Agencias a nivel nacional. El BCP no se responsabiliza por la mala utilización de los contenidos de esta página web.</p>
<p class="legal">Para más información sobre tasas y tarifas visita Banca por Internet www.viabcp.com</p>
</html>
