{% extends 'pdf/base.html' %}
{% block content %}

<style type="text/css">
    table {
        margin: 0 30px;
    }
</style>

{% if credito == 'modal_ch_tradicional' %}
<h2 >Hipotecario Tradicional</h2>
<p>Crédito Hipotecario BCP para personas entre 20 y 71 años* con ingreso bruto conyugal mínimo de US$400 o S/.1,400 ó que sean empresarios o comerciantes en Régimen General con ventas anuales mayores a US$500,000. </p>

<h2 >Características</h2>
<table ><tbody><tr><th>Monto de préstamo</th>
            <td>Desde US$10,000 ó S/.32,000</td>
        </tr>
        <tr><th>Financiamiento<br/>máximo**
            </th>
            <td><strong>Compra de vivienda: </strong>
                90% del valor del inmueble
                <br/><strong>Construcción de vivienda: </strong>
                80% del valor del terreno
                <br/><strong>Compra de terreno: </strong>
                80% del valor del terreno
                <br/><strong>Compra de casa de playa: </strong>
                80% del valor del inmueble
                <br/><strong>Compra de casa de campo: </strong>
                60% del valor del inmueble
                <br/><strong>Ampliación y/o remodelación: </strong>
                60% del costo del proyecto
            </td>
        </tr>
        <tr><th>Plazo</th>
            <td>Desde 4 hasta 25 años</td>
        </tr>
        <tr><th>Cuotas por año</th>
            <td>12 mensualidades (14 solo para dependientes)</td>
        </tr>
        <tr><th>Período de gracia***</th>
            <td>6 meses (al inicio del préstamo)</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Nuevos Soles o Dólares Americanos</td>
        </tr>
    </tbody>
</table>
<p>(*) Edad al momento de solicitar el préstamo. El vencimiento del préstamo debe ocurrir antes de cumplir 76 años. Entre los 71 y 76 años, la deuda pendiente debe ser menor o igual a US$75,000.
    <br/><br/>(**) El porcentaje de financiamiento aplica sobre el precio de venta o el valor comercial (tasación), el que resulte menor.
    <br/><br/>(***) Durante el período de gracia no se paga ninguna cuota pero sí se acumulan intereses.
    </p>


{% elif credito == 'modal_ch_tradicional_1' %}
<h2 >Hipotecario Tradicional</h2>
<p>Crédito Hipotecario BCP para personas entre 20 y 71 años* con ingreso bruto conyugal mínimo de US$400 o S/.1,400 ó que sean empresarios o comerciantes en Régimen General con ventas anuales mayores a US$500,000. </p>

<h2 >Características</h2>
<table ><tbody><tr><th>Monto de préstamo</th>
            <td>Desde US$10,000 ó S/.32,000</td>
        </tr>
        <tr><th>Financiamiento<br/>máximo**
            </th>
            <td><strong>Compra de vivienda: </strong>
                90% del valor del inmueble
                <br/><strong>Construcción de vivienda: </strong>
                Hasta el 200% del valor del terreno teniendo como tope el monto del proyecto a construir
                <br/><strong>Compra de terreno: </strong>
                80% del valor del terreno
                <br/><strong>Compra de casa de playa: </strong>
                80% del valor del inmueble
                <br/><strong>Compra de casa de campo: </strong>
                60% del valor del inmueble
                <br/><strong>Ampliación y/o remodelación: </strong>
                60% del valor del inmueble
            </td>
        </tr>
        <tr><th>Plazo</th>
            <td>Desde 4 hasta 25 años</td>
        </tr>
        <tr><th>Cuotas por año</th>
            <td>12 mensualidades (14 solo para dependientes)</td>
        </tr>
        <tr><th>Período de gracia***</th>
            <td>6 meses (al inicio del préstamo)</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Nuevos Soles o Dólares Americanos</td>
        </tr>
    </tbody>
</table>
<p>(*) Edad al momento de solicitar el préstamo. El vencimiento del préstamo debe ocurrir antes de cumplir 76 años. Entre los 71 y 76 años, la deuda pendiente debe ser menor o igual a US$75,000.
    <br/><br/>(**) El porcentaje de financiamiento aplica sobre el precio de venta o el valor comercial (tasación), el que resulte menor.
    <br/><br/>(***) Durante el período de gracia no se paga ninguna cuota pero sí se acumulan intereses.
    </p>

{% elif credito == 'modal_ch_tradicional_2' %}
<h2 >Hipotecario Tradicional</h2>
<p>Crédito Hipotecario BCP para personas entre 20 y 71 años* con ingreso bruto conyugal mínimo de US$400 o S/.1,400 ó que sean empresarios o comerciantes en Régimen General con ventas anuales mayores a US$500,000. </p>

<h2 >Características</h2>
<table ><tbody><tr><th>Monto de préstamo</th>
            <td>Desde US$10,000 ó S/.32,000</td>
        </tr>
        <tr><th>Financiamiento<br/>máximo**
            </th>
            <td><strong>Compra de vivienda: </strong>
                90% del valor del inmueble
                <br/><strong>Compra de casa de playa: </strong>
                80% del valor del inmueble
                <br/><strong>Compra de casa de campo: </strong>
                60% del valor del inmueble
            </td>
        </tr>
        <tr><th>Plazo</th>
            <td>Desde 4 hasta 25 años</td>
        </tr>
        <tr><th>Cuotas por año</th>
            <td>12 mensualidades (14 solo para dependientes)</td>
        </tr>
        <tr><th>Período de gracia***</th>
            <td>6 meses (al inicio del préstamo)</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Nuevos Soles o Dólares Americanos</td>
        </tr>
    </tbody>
</table>
<p>(*) Edad al momento de solicitar el préstamo. El vencimiento del préstamo debe ocurrir antes de cumplir 76 años. Entre los 71 y 76 años, la deuda pendiente debe ser menor o igual a US$75,000.
    <br/><br/>(**) El porcentaje de financiamiento aplica sobre el precio de venta o el valor comercial (tasación), el que resulte menor.
    <br/><br/>(***) Durante el período de gracia no se paga ninguna cuota pero sí se acumulan intereses.
    </p>


{% elif credito == 'modal_ch_pyme' %}
<h2 >Hipotecario PYME</h2>
<p>Crédito hipotecario para comerciantes o empresarios PYME* en Régimen General, Régimen Especial o Régimen &Uacute;nico Simplificado que tengan entre 20 y 71 años**.</p>

<h2 >Características</h2>
<table ><tbody><tr><th>Monto de préstamo</th>
            <td>Desde S/.32,000</td>
        </tr>
        <tr><th>Financiamiento<br/>máximo***
            </th>
            <td><strong>Compra de vivienda: </strong>
                80% del valor del inmueble
                <br/><strong>Construcción de vivienda: </strong>
                80% del valor del terreno
                <br/><strong>Compra de terreno: </strong>
                80% del valor del terreno
                <br/><strong>Ampliación y remodelación: </strong>
                60% del costo del proyecto
            </td>
        </tr>
        <tr><th>Plazo</th>
            <td>Desde 4 hasta 15 años</td>
        </tr>
        <tr><th>Cuotas por año</th>
            <td>12 mensualidades</td>
        </tr>
        <tr><th>Período de gracia****</th>
            <td>Máximo 2 meses (al inicio del préstamo)</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Nuevos Soles</td>
        </tr>
    </tbody>
</table>
<p>(*) Las ventas anuales del negocio deben ser desde US$10,000 o S/.32,000 hasta US$500,000 o S/.1,500,000. El solicitante debe ser socio mayoritario de su negocio PYME. En caso de ser socio nuevo, debe tener al menos 1 año como accionista.
    <br/><br/>(**) Edad al momento de solicitar el préstamo. El vencimiento del préstamo debe ocurrir antes de cumplir 76 años. Entre los 71 y 76 años, la deuda pendiente debe ser menor o igual a US$75,000.
    <br/><br/>(***) El porcentaje de financiamiento aplica sobre el precio de venta o el valor comercial (tasación), el que resulte menor.
    <br/><br/>(****) Durante el período de gracia no se paga ninguna cuota pero sí se acumulan intereses. 
    </p>





{% elif credito == 'modal_ch_ahorro_local' %}
<h2 >Hipotecario con Ahorro Local</h2>
<p>Crédito hipotecario BCP para peruanos residentes en Perú, de entre 20 y 71 años*, que no pueden demostrar sus ingresos en forma parcial o total.</p>

<h2 >Características</h2>
<table ><tbody><tr><th>Monto de préstamo</th>
            <td>Desde S/.32,000 hasta S/.210,000</td>
        </tr>
        <tr><th>Financiamiento<br/>máximo**
            </th>
            <td><strong>Proyecto financiado por el BCP: </strong>
                80% del valor del inmueble
                <br/><strong>Proyecto financiado por otro banco o autofinanciado: </strong>
                70% del valor del inmueble
                <br/><strong>Inmueble terminado: </strong>
                70% del valor del inmueble
            </td>
        </tr>
        <tr><th>Plazo</th>
            <td>Desde 4 hasta 25 años.</td>
        </tr>
        <tr><th>Cuotas por año</th>
            <td>12 mensualidades</td>
        </tr>
        <tr><th>Período de gracia</th>
            <td>No aplica</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Nuevos Soles</td>
        </tr>
    </tbody>
</table>
<p>(*) Edad al momento de solicitar el préstamo. El vencimiento del préstamo debe ocurrir antes de cumplir 76 años. Entre los 71 y 76 años, la deuda pendiente debe ser menor o igual a US$75,000.
    <br/><br/>(**) El porcentaje de financiamiento aplica sobre el precio de venta o el valor comercial (tasación), el que resulte menor.
    </p>


{% elif credito == 'modal_ch_ahorro_local_1' %}
<h2 >Hipotecario con Ahorro Local</h2>
<p>Crédito hipotecario BCP para peruanos residentes en Perú, de entre 20 y 71 años*, que no pueden demostrar sus ingresos en forma parcial o total.</p>

<h2 >Características</h2>
<table ><tbody><tr><th>Monto de préstamo</th>
            <td>Desde S/.32,000 hasta S/.210,000</td>
        </tr>
        <tr><th>Financiamiento<br/>máximo**
            </th>
            <td><strong>Inmueble terminado: </strong>
                70% del valor del inmueble
            </td>
        </tr>
        <tr><th>Plazo</th>
            <td>Desde 4 hasta 25 años.</td>
        </tr>
        <tr><th>Cuotas por año</th>
            <td>12 mensualidades</td>
        </tr>
        <tr><th>Período de gracia</th>
            <td>No aplica</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Nuevos Soles</td>
        </tr>
    </tbody>
</table>
<p>(*) Edad al momento de solicitar el préstamo. El vencimiento del préstamo debe ocurrir antes de cumplir 76 años. Entre los 71 y 76 años, la deuda pendiente debe ser menor o igual a US$75,000.
    <br/><br/>(**) El porcentaje de financiamiento aplica sobre el precio de venta o el valor comercial (tasación), el que resulte menor.
    </p>


{% elif credito == 'modal_ch_remesas' %}
<h2 >Hipotecario con Remesas</h2>
<p>Crédito hipotecario BCP para peruanos residentes en Perú, de entre 20 a 71 años*, que reciban dinero regularmente de un familiar directo** desde el extranjero.</p>

<h2 >Características</h2>
<table ><tbody><tr><th>Monto de préstamo</th>
            <td>Desde US$10,000 hasta US$60,000</td>
        </tr>
        <tr><th>Financiamiento<br/>máximo***
            </th>
            <td><strong>Proyecto financiado por el BCP: </strong>
                80% del valor del inmueble 
                <br/><strong>Proyecto financiado por otro banco o autofinanciado: </strong>
                70% del valor del inmueble
                <br/><strong>Inmueble terminado: </strong>
                70% del valor del inmueble
            </td>
        </tr>
        <tr><th>Plazo</th>
            <td>Desde 4 hasta 25 años</td>
        </tr>
        <tr><th>Cuotas por año</th>
            <td>12 mensualidades</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Dólares Americanos</td>
        </tr>
    </tbody>
</table>
<p>(*) Edad al momento de solicitar el préstamo. El vencimiento del préstamo debe ocurrir antes de cumplir 76 años. Entre los 71 y 76 años, la deuda pendiente debe ser menor o igual a US$75,000.
    <br/><br/>(**) Familiar directo del solicitante del crédito: padres, hermanos, hijos, cónyuge; la relacion entre cónyuges se evidenciará con partida de matrimonio. La persona que envía la remesa puede ser peruano o extranjero.
    <br/><br/>(***) El porcentaje de financiamiento aplica sobre el precio de venta o el valor comercial (tasación), el que resulte menor.
    </p>





{% elif credito == 'modal_ch_mivivienda' %}
<h2 >MiVivienda</h2>
<p>Crédito hipotecario para personas entre 20 y 65 años* con ingreso bruto conyugal mínimo de US$375 ó S/.1,200. Para viviendas desde S/.51,100 (14 UIT) hasta S/.182,500 (50 UIT)**.</p>

<h2 >Características</h2>
<table ><tbody><tr><th>Monto de préstamo</th>
            <td>Desde S/.32,850 hasta S/.164,250</td>
        </tr>
        <tr><th>Financiamiento<br/>máximo***
            </th>
            <td>90% del valor del inmueble</td>
        </tr>
        <tr><th>Plazo</th>
            <td>Desde 10 hasta 20 años</td>
        </tr>
        <tr><th>Cuotas por año</th>
            <td>12 mensualidades (14 solo para dependientes)</td>
        </tr>
        <tr><th>Período de gracia****</th>
            <td>6 meses (solo inmuebles futuros)</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Nuevos Soles</td>
        </tr>
        <tr><th>Premio al<br/>Buen Pagador*****
            </th>
            <td>Premio de S/.12,500 que el Estado te da si pagas puntualmente tu crédito MiVivienda</td>
        </tr>
    </tbody>
</table>
<p>(*) Edad al momento de solicitar el préstamo. El vencimiento del préstamo debe ocurrir antes de cumplir los 75 años.
    <br/><br/>(**) El valor de 1 UIT (Unidad Impositiva Tributaria) en el 2012 es de S/.3,650.
    <br/><br/>(***) El porcentaje de financiamiento aplica sobre el precio de venta o el valor comercial (tasación), el que resulte menor.
    <br/><br/>(****) Durante el período de gracia no se paga ninguna cuota pero sí acumulan intereses. 
    <br/><br/>(*****) El monto del Premio al Buen Pagador puede ser modificado por el Fondo MiVivienda y será publicado en www.viabcp.com.
    </p>

{% elif credito == 'modal_ch_mivivienda_1' %}
<h2 >MiVivienda</h2>
<p>Crédito hipotecario BCP para peruanos residentes en Per&uacute; de entre 20 y 65 años*, que puedan sustentar sus ingresos brutos conyugales con boletos &oacute; recibos por honorarios mayores a S/. 1,200.</p>

<h2 >Características</h2>
<table ><tbody><tr><th>Monto de préstamo</th>
            <td>Desde S/.32,850 hasta S/.164,250</td>
        </tr>
        <tr><th>Financiamiento<br/>máximo***
            </th>
            <td>90% del valor del inmueble</td>
        </tr>
        <tr><th>Plazo</th>
            <td>Desde 10 hasta 20 años</td>
        </tr>
        <tr><th>Cuotas por año</th>
            <td>12 mensualidades (14 solo para dependientes)</td>
        </tr>
        <tr><th>Período de gracia****</th>
            <td>6 meses (solo inmuebles futuros)</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Nuevos Soles</td>
        </tr>
        <tr><th>Premio al<br/>Buen Pagador*****
            </th>
            <td>Premio de S/.12,500 que el Estado te da si pagas puntualmente tu crédito MiVivienda</td>
        </tr>
    </tbody>
</table>
<p>(*) Edad al momento de solicitar el préstamo. El vencimiento del préstamo debe ocurrir antes de cumplir los 75 años.
    <br/><br/>(**) El valor de 1 UIT (Unidad Impositiva Tributaria) en el 2012 es de S/.3,650.
    <br/><br/>(***) El porcentaje de financiamiento aplica sobre el precio de venta o el valor comercial (tasación), el que resulte menor.
    <br/><br/>(****) Durante el período de gracia no se paga ninguna cuota pero sí acumulan intereses. 
    <br/><br/>(*****) El monto del Premio al Buen Pagador puede ser modificado por el Fondo MiVivienda y será publicado en www.viabcp.com.
    </p>



{% elif credito == 'modal_ch_techo_propio' %}
<h2 >Techo Propio</h2>
<p>Crédito hipotecario para personas entre 20 y 65 años* con ingreso bruto conyugal mínimo de S/.800 y con tope máximo de ingresos netos de S/.1,575. Para viviendas desde S/.31,755 (8.7 UIT) hasta S/.51,100 (14 UIT)**.</p>

<h2 >Características</h2>
<table ><tbody><tr><th>Monto de préstamo</th>
            <td>Desde S/.10,000 hasta S/.30,660</td>
        </tr>
        <tr><th>Financiamiento<br/>máximo***
            </th>
            <td>60% del valor del inmueble</td>
        </tr>
        <tr><th>Valor de<br/>la vivienda
            </th>
            <td>Desde S/.31,755 hasta S/.51,100</td>
        </tr>
        <tr><th>Plazo</th>
            <td>Desde 10 hasta 20 años</td>
        </tr>
        <tr><th>Cuotas por año</th>
            <td>12 mensualidades (14 solo para dependientes)</td>
        </tr>
        <tr><th>Período de gracia****</th>
            <td>6 meses (solo inmuebles futuros)</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Nuevos Soles</td>
        </tr>
        <tr><th>Bono Familiar<br/>Habitacional
            </th>
            <td>Ayuda económica gratuita que el Estado te da (1 sola vez) cuando obtienes un crédito Techo Propio.
                <br/>- Viviendas desde S/.31,755 hasta S/.43,800: bono de S/.18,000
                <br/>- Viviendas desde S/.43,801 hasta S/.51,100: bono de  S/.10,800
            </td>
        </tr>
    </tbody>
</table>
<p>(*) Edad al momento de solicitar el préstamo. El vencimiento del préstamo debe ocurrir antes de cumplir 75 años. 
    <br/><br/>(**) El valor de 1 UIT(Unidad Impositiva Tributaria) en el 2012 es de S/.3,650.
    <br/><br/>(***) El porcentaje de financiamiento aplica sobre el precio de venta o el valor comercial (tasación), el que resulte menor.
    <br/><br/>(****) Durante el período de gracia no se paga ninguna cuota pero sí se acumulan intereses. 
    </p>





{% elif credito == 'modal_ahorrar_local' %}
<h2 >¿Cuánto tiempo tengo que ahorrar para calificar?</h2>
<table ><tbody><tr><th ></th>
                <th >% de cuota inicial</th>
                <th >Meses de ahorro en<br/>‘Cuenta Ahorro Hipotecario’
                </th>
            </tr>
            <tr><th  >Tienes ingresos pero<br/>no los puedes sustentar*
                </th>
                <td>A partir del 50%<br/>del valor del inmueble
                </td>
                <td>Preaprobación automática<br/>(no necesitas ahorro previo)
                </td>
            </tr>
            <tr><td>Del 40% al 49%<br/>del valor del inmueble
                </td>
                <td>4</td>
            </tr>
            <tr><td>Del 30% al 39%<br/>del valor del inmueble
                </td>
                <td>6</td>
            </tr>
            <tr><td>Del 20% al 29%<br/>del valor del inmueble
                </td>
                <td>12</td>
            </tr>
        </tbody>
    </table>
    <p>(*) En caso tengas ingresos parciales sustentables, el tiempo que tendrás que ahorrar puede variar.
        <br/><br/>Ejemplo: Si ahorras todos los meses sin fallar ningún mes, cumplido el plazo indicado, tu crédito hipotecario quedará aprobado
        </p>
    




{% elif credito == 'modal_ahorrar_local_2' %}
<h2 >¿Cuánto tiempo tengo que ahorrar para calificar?</h2>
<table ><tbody><tr><th ></th>
                <th >% de cuota inicial</th>
                <th >Meses de ahorro en<br/>‘Cuenta Ahorro Hipotecario’
                </th>
            </tr>
            <tr><th  >Tienes ingresos pero<br/>no los puedes sustentar*
                </th>
                <td>A partir del 50%<br/>del valor del inmueble
                </td>
                <td>Preaprobación automática<br/>(no necesitas ahorro previo)
                </td>
            </tr>
            <tr><td>Del 40% al 49%<br/>del valor del inmueble
                </td>
                <td>6</td>
            </tr>
            <tr><td>Del 30% al 39%<br/>del valor del inmueble
                </td>
                <td>9</td>
            </tr>
        </tbody>
    </table>
    <p>(*) En caso tengas ingresos parciales sustentables, el tiempo que tendrás que ahorrar puede variar.
        <br/><br/>Ejemplo: Si ahorras todos los meses sin fallar ningún mes, cumplido el plazo indicado, tu crédito hipotecario quedará aprobado
        </p>
    




{% elif credito == 'modal_ahorrar_local_conoce' %}
<h2 >Cuenta Ahorro Hipotecario</h2>
<p>Cuenta que permite acreditar la capacidad de ahorro del cliente a través de depósitos mensuales, los cuales servirán como parte de la cuota inicial del cliente.</p>

<h2 >Características</h2>
<table ><tbody><tr><th>Titular de la cuenta</th>
            <td>Cliente que solicita el crédito.</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Cuenta en moneda nacional. </td>
        </tr>
        <tr><th>Monto a depositar</th>
            <td>El monto ahorrado en el mes debe ser igual o mayor al de la cuota del Crédito Hipotecario que solicitará.</td>
        </tr>
        <tr><th>Periodicidad<br/>de abonos*
            </th>
            <td>Mensual y consecutivos. En un mes, puedes realizar como máximo 4 abonos.</td>
        </tr>
        <tr><th>Costo</th>
            <td>No tiene costo por portes o mantenimiento.</td>
        </tr>
        <tr><th>Restricción</th>
            <td>No permite retiros ni transferencias a otras cuentas.</td>
        </tr>
    </tbody>
</table>
<p>(*) Si dejas de hacer el abono un mes o cancelas la cuenta, el record de pagos vuelve a cero. Luego de la preaprobación crediticia se debe continuar con el abono mensual consecutivo hasta el momento del desembolso.
    <br/><br/><strong>Nota:</strong>
    Antes del desembolso, debe evidenciarse el pago de la cuota inicial a través de: voucher de depósito a la cuenta del constructor/vendedor ó cheque de gerencia emitido al constructor/vendedor.
    </p>





{% elif credito == 'modal_ahorrar_remesas' %}
<h2 >¿Cuánto tiempo tengo que ahorrar para calificar?</h2>
<table ><tbody><tr><th >% de cuota inicial</th>
                <th >Meses de ahorro en<br/>‘Cuenta Ahorro Hipotecario’
                </th>
            </tr>
            <tr><td>A partir del 50%<br/>del valor del inmueble
                </td>
                <td>Preaprobación automática<br/>(no necesitas ahorro previo)
                </td>
            </tr>
            <tr><td>Del 40% al 49%<br/>del valor del inmueble
                </td>
                <td>4</td>
            </tr>
            <tr><td>Del 30% al 39%<br/>del valor del inmueble
                </td>
                <td>6</td>
            </tr>
        </tbody>
    </table>
    <p>(*) En caso tengas ingresos parciales sustentables, el tiempo que tendrás que ahorrar puede variar.
        <br/><br/>Ejemplo: Si ahorras todos los meses sin fallar ningún mes, cumplido el plazo indicado, tu crédito hipotecario quedará aprobado
        </p>
    




{% elif credito == 'modal_ahorrar_remesas_2' %}
<h2 >¿Cuánto tiempo tengo que ahorrar para calificar?</h2>
<table ><tbody><tr><th >% de cuota inicial</th>
                <th >Meses de ahorro en<br/>‘Cuenta Ahorro Hipotecario’
                </th>
            </tr>
            <tr><td>A partir del 50%<br/>del valor del inmueble
                </td>
                <td>Preaprobación automática<br/>(no necesitas ahorro previo)
                </td>
            </tr>
            <tr><td>Del 40% al 49%<br/>del valor del inmueble
                </td>
                <td>4</td>
            </tr>
            <tr><td>Del 30% al 39%<br/>del valor del inmueble
                </td>
                <td>6</td>
            </tr>
            <tr><td>Del 20% al 29%<br/>del valor del inmueble
                </td>
                <td>12</td>
            </tr>
        </tbody>
    </table>
    <p>(*) En caso tengas ingresos parciales sustentables, el tiempo que tendrás que ahorrar puede variar.
        <br/><br/>Ejemplo: Si ahorras todos los meses sin fallar ningún mes, cumplido el plazo indicado, tu crédito hipotecario quedará aprobado
        </p>
    




{% elif credito == 'modal_ahorrar_remesas_conoce' %}
<h2 >Cuenta Ahorro Hipotecario</h2>
<p>Cuenta que permite acreditar la capacidad de ahorro del cliente a través de depósitos mensuales, los cuales servirán como parte de la cuota inicial del cliente.</p>

<h2 >Características</h2>
<table ><tbody><tr><th>Titular de la cuenta</th>
            <td>Cliente que solicita el crédito.</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Cuenta en dólares.  </td>
        </tr>
        <tr><th>Monto a depositar</th>
            <td>El monto ahorrado en el mes debe ser igual o mayor al de la cuota del Crédito Hipotecario que solicitará.</td>
        </tr>
        <tr><th>Periodicidad<br/>de abonos*
            </th>
            <td>Mensual y consecutivos. En un mes, puedes realizar como máximo 1 abono.</td>
        </tr>
        <tr><th>Costo</th>
            <td>No tiene costo por portes o mantenimiento.</td>
        </tr>
        <tr><th>Restricción</th>
            <td>No permite retiros ni transferencias a otras cuentas.</td>
        </tr>
    </tbody>
</table>
<p>(*) Si dejas de hacer el abono un mes o cancelas la cuenta, el record de pagos vuelve a cero. Luego de la preaprobación crediticia se debe continuar con el abono mensual consecutivo hasta el momento del desembolso.
    <br/><br/><strong>Nota:</strong>
    Antes del desembolso, debe evidenciarse el pago de la cuota inicial a través de: voucher de depósito a la cuenta del constructor/vendedor ó cheque de gerencia emitido al constructor/vendedor.
    </p>





{% elif credito == 'modal_ahorrar_mivivienda' %}
<h2 >¿Cuánto tiempo tengo que ahorrar para calificar?</h2>
<table ><tbody><tr><th ></th>
                <th >% de cuota inicial</th>
                <th >Meses de ahorro en<br/>‘Cuenta Ahorro Hipotecario’
                </th>
            </tr>
            <tr><th  >Tienes ingresos pero<br/>no los puedes sustentar*
                </th>
                <td>A partir del 30%<br/>del valor del inmueble
                </td>
                <td>4</td>
            </tr>
            <tr><td>Del 20% al 29%<br/>del valor del inmueble
                </td>
                <td>6</td>
            </tr>
            <tr><td>Del 10% al 19%<br/>del valor del inmueble
                </td>
                <td>9</td>
            </tr>
        </tbody>
    </table>
    <p>(*) En caso tengas ingresos parciales sustentables, el tiempo que tendrás que ahorrar puede variar.
        <br/><br/>Ejemplo: Si ahorras todos los meses sin fallar ningún mes, cumplido el plazo indicado, tu crédito hipotecario quedará aprobado
        </p>
    




{% elif credito == 'modal_ahorrar_mivivienda_2' %}
<h2 >¿Cuánto tiempo tengo que ahorrar para calificar?</h2>
<table ><tbody><tr><th ></th>
                <th >% de cuota inicial</th>
                <th >Meses de ahorro en<br/>‘Cuenta Ahorro Hipotecario’
                </th>
            </tr>
            <tr><th  >Tienes ingresos pero<br/>no los puedes sustentar*
                </th>
                <td>A partir del 30%<br/>del valor del inmueble
                </td>
                <td>Preaprobación automática<br/>(no neceistas ahorro previo)
                </td>
            </tr>
            <tr><td>Del 20% al 29%<br/>del valor del inmueble
                </td>
                <td>4</td>
            </tr>
            <tr><td>Del 10% al 19%<br/>del valor del inmueble
                </td>
                <td>6</td>
            </tr>
        </tbody>
    </table>
    <p>(*) En caso tengas ingresos parciales sustentables, el tiempo que tendrás que ahorrar puede variar.
        <br/><br/>Ejemplo: Si ahorras todos los meses sin fallar ningún mes, cumplido el plazo indicado, tu crédito hipotecario quedará aprobado
        </p>
    




{% elif credito == 'modal_ahorrar_mivivienda_conoce' %}
<h2 >Cuenta Ahorro Hipotecario</h2>
<p>Cuenta que permite acreditar la capacidad de ahorro del cliente a través de depósitos mensuales, los cuales servirán como parte de la cuota inicial del cliente.</p>

<h2 >Características</h2>
<table ><tbody><tr><th>Titular de la cuenta</th>
            <td>Cliente que solicita el crédito.</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Cuenta en moneda nacional. </td>
        </tr>
        <tr><th>Monto a depositar</th>
            <td>El monto ahorrado en el mes debe ser igual o mayor al de la cuota del Crédito Hipotecario que solicitará.</td>
        </tr>
        <tr><th>Periodicidad<br/>de abonos*
            </th>
            <td>Mensual y consecutivos. En un mes, puedes realizar como máximo 4 abonos.</td>
        </tr>
        <tr><th>Costo</th>
            <td>No tiene costo por portes o mantenimiento.</td>
        </tr>
        <tr><th>Restricción</th>
            <td>No permite retiros ni transferencias a otras cuentas.</td>
        </tr>
    </tbody>
</table>
<p>(*) Si dejas de hacer el abono un mes o cancelas la cuenta, el record de pagos vuelve a cero. Luego de la preaprobación crediticia se debe continuar con el abono mensual consecutivo hasta el momento del desembolso.
    <br/><br/><strong>Nota:</strong>
    Antes del desembolso, debe evidenciarse el pago de la cuota inicial a través de: voucher de depósito a la cuenta del constructor/vendedor ó cheque de gerencia emitido al constructor/vendedor.
    </p>





{% elif credito == 'modal_ahorrar_techopropio' %}
<h2 >¿Cuánto tiempo tengo que ahorrar para calificar?</h2>
<table ><tbody><tr><th ></th>
                <th >% de cuota inicial</th>
                <th >Meses de ahorro en<br/>‘Cuenta Ahorro Hipotecario’
                </th>
            </tr>
            <tr><th  >Tienes ingresos pero<br/>no los puedes sustentar*
                </th>
                <td>A partir del 50%<br/>del valor del inmueble
                </td>
                <td>6</td>
            </tr>
            <tr><td>Del 40% al 49%<br/>del valor del inmueble
                </td>
                <td>9</td>
            </tr>
        </tbody>
    </table>
    <p>(*) En caso tengas ingresos parciales sustentables, el tiempo que tendrás que ahorrar puede variar.
        <br/><br/>Ejemplo: Si ahorras todos los meses sin fallar ningún mes, cumplido el plazo indicado, tu crédito hipotecario quedará aprobado
        </p>
    




{% elif credito == 'modal_ahorrar_techopropio_conoce' %}
<h2 >Cuenta Ahorro Hipotecario</h2>
<p>Cuenta que permite acreditar la capacidad de ahorro del cliente a través de depósitos mensuales, los cuales servirán como parte de la cuota inicial del cliente.</p>

<h2 >Características</h2>
<table ><tbody><tr><th>Titular de la cuenta</th>
            <td>Cliente que solicita el crédito.</td>
        </tr>
        <tr><th>Moneda</th>
            <td>Cuenta en moneda nacional. </td>
        </tr>
        <tr><th>Monto a depositar</th>
            <td>El monto ahorrado en el mes debe ser igual o mayor al de la cuota del Crédito Hipotecario que solicitará.</td>
        </tr>
        <tr><th>Periodicidad<br/>de abonos*
            </th>
            <td>Mensual y consecutivos. En un mes, puedes realizar como máximo 4 abonos.</td>
        </tr>
        <tr><th>Costo</th>
            <td>No tiene costo por portes o mantenimiento.</td>
        </tr>
        <tr><th>Restricción</th>
            <td>No permite retiros ni transferencias a otras cuentas.</td>
        </tr>
    </tbody>
</table>


<p>(*) Si dejas de hacer el abono un mes o cancelas la cuenta, el record de pagos vuelve a cero. Luego de la preaprobación crediticia se debe continuar con el abono mensual consecutivo hasta el momento del desembolso.
    <br/><br/><strong>Nota:</strong>
    Antes del desembolso, debe evidenciarse el pago de la cuota inicial a través de: voucher de depósito a la cuenta del constructor/vendedor ó cheque de gerencia emitido al constructor/vendedor.
    </p>



{% endif %}

{% endblock %}
