<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <title>&iquest;Qu&eacute; necesitas? - Cr&eacute;dito Hipotecario BCP</title>
        <style type="text/css">
        html, body, h1, ul {
            margin: 0;
            padding: 0;
        }

        body {
            color: #555;
            font-style: italic;
            font-family: Formata;
            font-size: 12px;
        }
        #bcp {
            background: #020B68;
            position: relative;
            height: 58px;
            z-index: 2;
        }
        #logo {
            background: #020B68 url({{ media }}/images/site/bcp-logo-69x19.png);
            position: absolute;
            top: 19px;
            right: 46px;
            display: block;
            width: 69px;
            height: 19px;
            text-indent: -9999em;
        }
        .blue, span.title {
            color: #020B68;
        }
        .module-title .module-inner {
            color: white;
            background: #E34E26;
            padding: 7px 30px;
            font-size: 20px;
            display: inline-block;
        }
        .foo, .append-left, .list {
            padding: 0 40px;
        }
        .dot-2 {
            background: transparent url('{{ media }}/images/site/style-list-bg-2.png') no-repeat 0 .3em;
            padding-left: 15px;
            text-indent: 0;
            zoom: 1;
        }
        table {
            border-collapse: collapse;
            margin:5px;
        }
        td, th {
            border: 1px solid #ccc;
            /*padding: 5px 10px;*/
            padding: 0px 10px 3px 10px;
        }
        table .dot-2 {
            margin: 5px;
        }
        table .title {
            color: inherit;
        }
        p.legal {
            font-size: 9px;
            color: #58595B;
            padding: 0 40px;
            text-align: justify;
        }
        </style>
</head>
<body>
<h1 id="bcp"><span id="logo"></span></h1>
<p class="foo blue" style="margin-top:50px">Estos son los requisitos para poder acceder a tu Crédito Hipotecario BCP</p>
<br />

{# 1 #}

{# 2 #}

{# 3 #}
{% if ingreso in ['dependiente', 'profesional', 'generador', 'remesas'] %}
{% if vivienda == 'todos' %}
<div id="doc-inmuebles-todos" class="req">
    <div class="module-title shadow-css push-bottom-1-i">
        <div class="module-inner"><strong class="title">Documentos del inmueble y del vendedor</strong></div>
    </div>
    <div class="append-left push-top">
        <p>Estos documentos son necesarios para realizar el estudio de t&iacute;tulos preliminar del inmueble e iniciar las coordinaciones de tasaci&oacute;n. En caso solicites un cr&eacute;dito para un inmueble en proyecto (en planos o en construcci&oacute;n), la documentaci&oacute;n inmobiliaria es aquella referida al terreno matriz (predio en que se construye tu futuro inmueble). Ten en cuenta que dicha documentaci&oacute;n solo es requerida cuando el inmueble que deseas adquirir es parte de un proyecto financiado por otro banco o por el propio constructor, pues para los proyectos financiados por el BCP ya contamos con toda la informaci&oacute;n requerida.</p>
        <p class="dot-2"><span class="title">Copia simple del Testimonio de Escritura P&uacute;blica. </span>Com&uacute;nmente llamado “T&iacute;tulo de propiedad”, este documento es proporcionado por el vendedor del inmueble (es necesario para constatar que el vendedor del inmueble es el propietario del mismo).</p>
        <p class="dot-2"><span class="title">Copia simple del documento de identidad vigente del vendedor. DNI, </span>si este es ciudadano peruano, o Carné de Extranjería (no Tarjeta de Extranjería) si es extranjero. En cambio, si el vendedor es persona jurídica, se requiere copia simple del testimonio de constitución social y de los representantes de la empresa debidamente inscritos, así como la vigencia de poderes de los mismos en original y con máximo 30 días de expedida por Registros Públicos.<p>
        <p class="dot-2"><span class="title">Documentos del vendedor del inmueble. Copia simple del DNI vigente, </span>si el vendedor es ciudadano peruano, o Carn&eacute; de Extranjer&iacute;a  (no tarjeta de extranjer&iacute;a) si es extranjero. En cambio, si el vendedor es una persona jur&iacute;dica, se requiere copia simple del testimonio de constituci&oacute;n social y de los representantes de la empresa debidamente inscritos, as&iacute; como original de la vigencia de poderes de los representantes de la empresa con una antig&uuml;edad no mayor a 30 d&iacute;as de expedida por los Registros P&uacute;blicos.</p>
        <p>Si solicitas un crédito para un inmueble en proyecto (en planos o en construcción), la documentación requerida es aquella referida al terreno matriz (predio en que se construye tu futuro inmueble). Ten en mente que no se requiere documentación inmobiliaria cuando el inmueble que deseas adquirir es parte de un proyecto financiado por el BCP.</p>
    </div>
    <br/>
</div>
{% else %}
<div id="doc-inmueble-bcp" class="req">
    <div class="module-title shadow-css"><div class="module-inner"><strong class="title">Documentos del inmueble y del vendedor</strong></div></div>
    <div class="append-left">
        <p>Para los proyectos financiados por el BCP, no es necesario que nos presentes documentación del inmueble ya que contamos con toda la informaci&oacute;n requerida.</p>
        <p>Si solicitas un crédito para un inmueble en proyecto (en planos o en construcción), la documentación requerida es aquella referida al terreno matriz (predio en que se construye tu futuro inmueble). Ten en mente que no se requiere documentación inmobiliaria cuando el inmueble que deseas adquirir es parte de un proyecto financiado por el BCP.</p>
    </div>
    <br/>
</div>
{% endif %}
{% endif %}

{# 4 #}
{% if ingreso in ['dependiente', 'profesional', 'generador', 'remesas'] %}
<div class="module-title">
    <div class="module-inner">
        <strong class="title">Documentos y requisitos personales del comprador:</strong>
    </div>
</div>
{% endif %}

{# 5 #}
{% if estado == 'soltero_viudo_divorciado' %}
<div id="soltero-viudo-divorsiado" class="foo req">
    <p class="dot-2"><span class="title">Tu documento de identidad.</span> Copia simple de tu DNI, si eres ciudadano peruano, o de tu Carné de Extranjería (no Tarjeta de Extranjería), si eres extranjero.</p>
</div>
{% elif estado == 'casado' %}
<div id="casado" class="foo req">
    <p class="dot-2"><span class="title">Tu documento de identidad.</span> Copia simple de tu DNI, si eres ciudadano peruano, o de tu Carné de Extranjería (no Tarjeta de Extranjería), si eres extranjero. De ser casado, también debes presentar el documento de identidad de tu cónyuge.</p>
    </p>
</div>
{% elif estado == 'conviviente' %}
<div id="conviviente" class="foo req">
    <p class="dot-2"><span class="title">Tu documento de identidad.</span> Copia simple de tu DNI, si eres ciudadano peruano, o de tu Carné de Extranjería (no Tarjeta de Extranjería), si eres extranjero. De ser conviviente, también debes presentar el documento de identidad de tu pareja.</p>
    <p class="dot-2"><span class="title">Declaración Jurada de Unión de Hecho: </span> Si deseas acreditar los ingresos de tu conviviente, debes presentar tu Declaración Jurada de Unión de Hecho.</p>
</div>
{% endif %}


{# 6 #}
{% if ingreso in ['dependiente', 'profesional', 'arrendador', 'generador', 'remesas'] %}
<div id="cuenta_bcp" class="foo req">
    <p class="dot-2"><span class="title">Tu cuenta bancaria en el BCP.</span> Debes abrir una cuenta a tu nombre en cualquiera de sus modalidades, con tal que mantenga un saldo disponible mínimo de US$ 90 o de  S/. 269, pues a esa cuenta se cargarán el costo de la tasación y el Impuesto a las Transacciones Financieras (ITF) respectivo.</p>
</div>
{% endif %}


{# 7 #}
{% if ingreso == 'dependiente' %}
<div id="sustento5" class="foo req">
    <p class="dot-2"><span class="title">Tu sustento de ingresos.</span></p>
    <ul class="list">
        <li>Boletas de pago.</li>
        <li>Si tus ingresos son fijos y recibes tu sueldo a través del BCP, debes presentar copia simple de la última boleta de pago.</li>
        <li>Si tus ingresos son fijos pero no recibes tu sueldo a través del BCP, debes presentar copia simple de tus 2 últimas boletas de pago.</li>
        <li>Si tus ingresos son variables, debes presentar copia simple de tus 4 últimas boletas de pago.</li>
        <li>Antigüedad laboral. Debes demostrar un año de antigüedad laboral. Si cambiaste de centro de trabajo dentro de los 12 meses anteriores a la presentación de tu solicitud de crédito, necesitas presentar tus últimas boletas de pago o la liquidación por tiempo de servicios de tu trabajo anterior (el tiempo de tránsito entre tu empleo previo y el actual debe ser como máximo 1 mes).</li>
    </ul>
</div>
{% elif ingreso == 'profesional' %}
<div id="sustento4" class="foo req">
    <p class="dot-2"><span class="title">Documentaci&oacute;n de sustento  de ingresos.</span></p>
    <ul class="list">
    <li>Copia Ficha RUC ( Formulario 2216) o impresi&oacute;n de la p&aacute;gina web de SUNAT.</li>
    <li>Dependiendo de tu nivel de ingresos, se requiere uno de estos documentos:<table class="table-1">
    <thead>
        <tr>
        <th>Nivel de ingresos</th>
        <th>Documento requerido</th>
        </tr>
    </thead>
    <tbody>
    <tr>
    <td>Ingresos brutos mayores a S/. 2,552 sin retenci&oacute;n de Impuesto a la Renta.</td>
    <td>
    <p class="dot-2">Pago de Impuesto a la renta de los &uacute;ltimos 03 meses.</p>
    <p class="dot-2">Declaraci&oacute;n Jurada Anual del &uacute;ltimo a&ntilde;o.</p>
    </td>
    </tr>
    <tr>
    <td>Ingresos brutos mayores a S/. 2,552 con retenci&oacute;n de Impuesto a la Renta.</td>
    <td>
    <p class="dot-2">
    <span class="title">Certificado de retenci&oacute;n de los &uacute;ltimos 3 meses o del &uacute;ltimo a&ntilde;o emitido por el contratante con: </span>
    </p>
    <ul class="list">
    <li>Ingresos.</li>
    <li>Fecha de inicio de labores.</li>
    <li>Cargo.</li>
    <li>Firma de Recursos Humanos o responsable.</li>
    </ul>
    </td>
    </tr>
    <tr>
    <td>Ingresos brutos menores a S/. 2,552, sin retenci&oacute;n del impuesto a la renta.</td>
    <td>
    <p class="dot-2">
    <span class="title">Constancia de empleo indicando: </span>
    </p>
    <ul class="list">
    <li>Ingresos.</li>
    <li>Fecha de inicio de labores.</li>
    <li>Cargo.</li>
    <li>Firma de Recursos Humanos o responsable.</li>
    </ul>
    </td>
    </tr>
    </tbody>
    </table>
    </li>
    <li>Demostrar un a&ntilde;o de antig&uuml;edad laboral. <br/><br/></li>
    </ul>
</div>
{% elif ingreso == 'pyme' %}
<div id="sustentoPyme" class="foo req">
    <p class="dot-2">
    <span class="title">Documentaci&oacute;n de sustento  de ingresos. </span>
    </p>
    <ul class="list">
    <li>Declaraci&oacute;n Jurada SUNAT del &uacute;ltimo a&ntilde;o (RUC): Solo si tu negocio est&aacute; registrado en el R&eacute;gimen General.</li>
    <li>Licencia de funcionamiento: Solo es necesaria si tu negocio se dedica a la venta de combustibles, sector salud o alimentos o es un centro educativo.</li>
    <li>Pago del Impuesto a la renta – IGV de los 3 &uacute;ltimos meses.</li>
    <li>Copia Ficha RUC ( Formulario 2216) o impresi&oacute;n de la p&aacute;gina web de SUNAT.</li>
    <li>Testimonio de Constituci&oacute;n de Empresa:  Si eres accionista mayoritario de tu empresa (poseedor del 50% + 1 de acciones) presenta el Testimonio de Constituci&oacute;n debidamente inscrito en los Registros P&uacute;blicos <strong>(SUNARP) </strong>o la copia de la vigencia de poderes emitida por esa entidad, con una antig&uuml;edad no mayor a un a&ntilde;o.
    </li>
    <li>Si adem&aacute;s tienes ingresos de 5ta categor&iacute;a provenientes del mismo negocio deber&aacute;s presentar el estado de cuenta detallado de AFP y/o CTS.</li>
    <li>Antig&uuml;edad del Negocio: Demuestra que tu negocio tiene por lo menos 24 meses de funcionamiento.<br/>
    <br/>
    </li>
    </ul>
</div>
{% elif ingreso == 'empresario' %}
<div id="sustentoConsolidado" class="foo req">
    <p class="dot-2">
    <span class="title">Documentaci&oacute;n de sustento de ingresos. </span>
    </p>
    <ul class="list">
    <li>Pago del Impuesto a la renta de los 3 &uacute;ltimos meses.</li>
    <li>Declaraciones Juradas anuales de los &uacute;ltimos 2 a&ntilde;os.</li>
    <li>Los estados financieros (Balance General y Estado de Ganancias y P&eacute;rdidas) de cierre del &uacute;ltimo a&ntilde;o y de situaci&oacute;n con una antig&uuml;edad no mayor de 3 meses. Firmados por el contador y el representante legal de tu empresa.</li>
    <li>Copia Ficha RUC ( Formulario 2216) o impresi&oacute;n de la p&aacute;gina web de SUNAT.</li>
    <li>Notas contables de cada estado financiero.</li>
    <li>Testimonio de Constituci&oacute;n de Empresa:  Si eres accionista mayoritario de tu empresa (poseedor del 50% + 1 de acciones) presenta el Testimonio de Constituci&oacute;n debidamente inscrito en los Registros P&uacute;blicos <strong>(SUNARP) </strong>o la copia de la vigencia de poderes emitida por esa entidad, con una antig&uuml;edad no mayor a un a&ntilde;o.
    </li>
    <li>Si adem&aacute;s tienes ingresos de 5ta categor&iacute;a provenientes del mismo negocio deber&aacute;s presentar el estado de cuenta detallado de AFP y/o CTS.</li>
    <li>Antig&uuml;edad del Negocio: Demuestra que tu negocio tiene por lo menos 24 meses de funcionamiento.</li>
    </ul>
</div>
{% elif ingreso == 'accionista' %}
<div id="sustento2" class="foo req">
    <p class="dot-2">
    <span class="title">Documentaci&oacute;n de sustento de ingresos. </span>
    </p>
    <ul class="list">
    <li>Declaraci&oacute;n Jurada Anual del &uacute;ltimo a&ntilde;o.</li>
    <li>Constancia de ingresos o sustento actual (distribuci&oacute;n de dividendos: demuestra ingresos  o rentas que recibes por ser accionista de empresas).</li>
    </ul>
</div>
{% elif ingreso == 'arrendador' %}
<div id="sustento1" class="foo req">
    <p class="dot-2">
    <span class="title">Documentaci&oacute;n de sustento  de ingresos. </span>
    </p>
    <ul class="list">
    <li>03 &uacute;ltimos pagos a la SUNAT o Contrato de Alquiler legalizado por Notario.</li>
    <li>Copia Simple del t&iacute;tulo de Propiedad o HR/ PU del a&ntilde;o en curso del inmueble que alquilas.</li>
    </ul>
</div>
{% elif ingreso == 'generador' %}
<div id="generoIngresos" class="foo req">
    <p class="dot-2">
    <span class="title">Documentaci&oacute;n de sustento de ingresos.</span>
    </p>
    <ul class="list">
    <li>Acreditar la capacidad de ahorro, mediante la impresi&oacute;n de dep&oacute;sitos hechos en la  “Cuenta Ahorro Hipotecaria”. Esta Cuenta permite acreditar tu capacidad de ahorro a trav&eacute;s de dep&oacute;sitos mensuales y consecutivos.</li>
    <li>Declaraci&oacute;n Jurada de Ingresos Ahorro Hipotecario, el cual se llenar&aacute; en la misma oficina.</li>
    <li>Si tienes ingresos que puedes sustentar, adjunta tus dos boletas de pago (en caso de ingresos fijos) o tus cuatro &uacute;ltimas boletas de pago (en caso de ingresos variables).</li>
    </ul>
</div>
{% elif ingreso == 'remesas' %}
<div id="remesas" class="foo req">
    <p class="dot-2">
    <span class="title">Documentaci&oacute;n de sustento de ingresos. </span>
    </p>
    <ul class="list">
    <li>Acreditar la capacidad de ahorro, mediante la impresi&oacute;n de dep&oacute;sitos hechos en la “Cuenta Ahorro Hipotecaria”. Cuenta que permite acreditar la capacidad de ahorro del cliente a trav&eacute;s de dep&oacute;sitos mensuales y consecutivos.</li>
    <li>Copia de pasaporte o documentos de identidad v&aacute;lidos en el pa&iacute;s donde resida la persona que env&iacute;a la remesa. Si quien te env&iacute;a la remesa es tu c&oacute;nyuge, necesitas, adem&aacute;s la partida de matrimonio.</li>
    <li>Declaraci&oacute;n Jurada de Ingresos legalizado en el consulado del pa&iacute;s de residencia.</li>
    <li>Poderes del c&oacute;nyuge residente en el Per&uacute;: Solo si tu esposo/ esposa es quien te env&iacute;a las remesas y deseas inscribir el predio en copropiedad con &eacute;l/ ella, el c&oacute;nyuge residente en el Per&uacute; necesita los poderes correspondientes inscritos en los Registros P&uacute;blicos para presentarlos al solicitar el cr&eacute;dito.</li>
    </ul>
</div>
{% endif %}
{% if ingreso != 'generador' and mixto %}
<div id="generoIngresos" class="foo req">
    <p class="dot-2"><span class="title">Documentaci&oacute;n de sustento de ingresos.</span></p>
    <ul class="list">
    <li>Acreditar la capacidad de ahorro, mediante la impresi&oacute;n de dep&oacute;sitos hechos en la  “Cuenta Ahorro Hipotecaria”. Esta Cuenta permite acreditar tu capacidad de ahorro a trav&eacute;s de dep&oacute;sitos mensuales y consecutivos.</li>
    <li>Declaraci&oacute;n Jurada de Ingresos Ahorro Hipotecario, el cual se llenar&aacute; en la misma oficina.</li>
    <li>Si tienes ingresos que puedes sustentar, adjunta tus dos boletas de pago (en caso de ingresos fijos) o tus cuatro &uacute;ltimas boletas de pago (en caso de ingresos variables).</li>
    </ul>
</div>
{% endif %}


{# 8 #}
{% if not tiene_casa %}
<div id="formularioMivivienda" class="foo req">
    <p class="dot-2">
    <span class="title">Formularios del Fondo Mi Vivienda: </span>Solo para los Cr&eacute;ditos Mi Vivienda, los cuales podr&aacute;s 
    <a href="{{ DOMAIN }}/static/docs/FormNMIV.zip">descargarlos aqu&iacute;.</a>
    </p>
</div>
{% endif %}


{# 9 #}
{% if estado == 'soltero_viudo_divorciado' %}
<div id="cierreSoltero" class="foo req">
    <p>Cuando hayas reunido la documentaci&oacute;n indicada, solo ac&eacute;rcate a cualquiera de las Oficinas BCP para entregarla e iniciar el proceso de tu cr&eacute;dito hipotecario.</p>
</div>
{% elif estado == 'casado' %}
<div id="cierreCasado" class="foo req">
    <p class="onlyprint">Si adjuntas los ingresos de tu c&oacute;nyuge, te sugerimos ingresar a www.creditohipotecariobcp.com, en la Secci&oacute;n: &iquest;Qu&eacute; necesitas? para que conozcas los documentos que debe presentar tu pareja.</p>
    <p class="onlyweb">Si adjuntas los ingresos de tu c&oacute;nyuge, te sugerimos ingresar a la Secci&oacute;n: <a href="{{ DOMAIN }}/quiero-comprar-una-casa/que-necesitas">&iquest;Qu&eacute; necesitas?</a> para que conozcas los documentos que debe presentar tu pareja.</p>
    <p>Cuando hayas reunido la documentaci&oacute;n indicada, solo ac&eacute;rcate a cualquiera de las Oficinas BCP para entregarla e iniciar el proceso de tu cr&eacute;dito hipotecario.</p>
</div>
{% elif estado == 'conviviente' %}
<div id="cierreConviviente" class="foo req">
    <p class="onlyprint">Si adjuntas los ingresos de tu pareja, te sugerimos ingresar a www.creditohipotecariobcp.com, en la Secci&oacute;n: &iquest;Qu&eacute; necesitas? para que conozcas los documentos que debe presentar tu pareja.</p>
    <p class="onlyweb">Si adjuntas los ingresos de tu pareja, te sugerimos ingresar a la Secci&oacute;n: <a href="{{ DOMAIN }}/quiero-comprar-una-casa/que-necesitas">&iquest;Qu&eacute; necesitas?</a> para que conozcas los documentos que debe presentar tu pareja.</p>
    <p>Cuando hayas reunido la documentaci&oacute;n indicada, solo ac&eacute;rcate a cualquiera de las Oficinas BCP para entregarla e iniciar el proceso de tu cr&eacute;dito hipotecario.</p>
</div>
{% endif %}
<br />
<br />
<p class="foo">Atentamente,<br/>Banco de Cr&eacute;dito BCP</p>
<br>
<p class="legal">La información difundida en esta página web es referencial y podrá ser actualizada, modificada o eliminada por el Banco de Crédito del Perú (BCP) sin necesidad de previo aviso. Para mayor información puede utilizar la línea de teléfono gratuita ubicada en las Agencias BCP, o comunicarse con nosotros vía Banca por Teléfono (311-9898) o visitar cualquiera de nuestras Agencias a nivel nacional. El BCP no se responsabiliza por la mala utilización de los contenidos de esta página web.</p>
<p class="legal">Para más información sobre tasas y tarifas visita Banca por Internet www.viabcp.com</p>
</body>
</html>
