{% extends 'pdf/base.html' %}
{% block content %}
{% if seguro == 'seguro_de_desgravamen' %}
<h2>Seguro de desgravamen</h2>
<p class="blue">¿Sabías que es posible activarlo para que cubra totalmente tu deuda pendiente?</p>
<p>En caso de fallecimiento o invalidez total y/o permanente del titular del crédito, sus familiares o deudos deberán acercarse a cualquier Agencia del BCP dentro de los 3 meses siguientes a la fecha de ocurrencia del siniestro con la documentación indicada en el Certificado de Seguro de Desgravamen, el cual te entregamos a la firma de la Escritura Pública.</p>
<p>En caso tu cónyuge sea titular de un seguro de desgravamen y fallezca antes de cancelar el Crédito Hipotecario BCP, dicho seguro cubrirá la deuda pendiente, siempre que ésta no se encuentre en situación morosa a la fecha del fallecimiento (de existir mora, deberás pagar los intereses, comisiones, capital y gastos del préstamo para acceder a los beneficios).</p>
<p>Para activar este seguro, debes presentar los siguientes documentos:</p>
<ul>
	<li>Original o copia legalizada de la partida de defunción</li>
	<li>Original o copia legalizada del certificado médico de defunción completo</li>
	<li>Original o copia legalizada del Informe médico ampliatorio</li>
	<li>Copia del Documento de Identidad del fallecido</li>
</ul>
<p>En caso de muerte accidental, tus familiares deberán presentar adicionalmente:</p>
<ul>
	<li>Original o copia legalizada del atestado policial completo</li>
	<li>Original o copia legalizada del examen toxicológico</li>
	<li>Original o copia legalizada del protocolo de necropsia completo</li>
</ul>
{% else %}
<h2>Seguro de inmueble</h2>
<p class="blue">Con este seguro puedes dormir tranquilo, pues protege tu propiedad ante siniestros y daños materiales.</p>
<p>El seguro de inmueble protege tu vivienda en caso de un siniestro o daños materiales por imprevistos como incendios, sismos y daños estructurales o de instalaciones. Sí tu vivienda se destruye, el seguro de inmueble cubre el valor de su reconstrucción de acuerdo a lo indicado en la póliza del inmueble.</p>
<p>En caso de ocurrir un siniestro en tu vivienda, lo primero que debes hacer es denunciar el hecho a la comisaría de tu distrito dentro de las 24 horas siguientes, así como dar aviso inmediato a la compañía de seguros.</p>
<p>Igualmente, debes informar al BCP, a través de tu Funcionario o contactarte al teléfono 427-5600, anexo 44650 con el propósito de brindarte la asesoría correspondiente.</p>
{% endif %}
{% endblock %}
